sil/sil-war/src/main/webapp/WEB-INF/xsd/adesionePA/inputXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
      <xs:pattern value="[0-9]{11}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Cittadino">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codiceFiscale" type="CodiceFiscale"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>