sil/sil-war/src/main/webapp/WEB-INF/CIG_RER_2_CPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:ci="http://regione.emilia-romagna.it/sare/cig/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://regione.emilia-romagna.it/sare/cig/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
    <xs:simpleType name="CodiceFiscale">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
            <xs:pattern value="[0-9]{11}"/>
            <xs:pattern value="[0-9]{16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sesso">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Si-No">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SI"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Telefono">
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EMail">
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
            <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Cap">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Cittadinanza">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Comune">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1}\d{3}"/>
            <xs:pattern value="[0]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CCNL">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ateco">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TipoTestataAzienda">
        <xs:sequence>
            <xs:element name="strCodiceFiscale" type="ci:CodiceFiscale">
                <xs:annotation>
                    <xs:documentation>Codice fiscale dell'Azienda</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strRagioneSociale">
                <xs:annotation>
                    <xs:documentation>Ragione sociale dell'Azienda</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codNatGiuridica">
                <xs:annotation>
                    <xs:documentation>chiave esterna verso il codice di natura giuridica dell'azienda/ente/scuola: sas., s.p.a., d.i. (ditta individuale), cooperativa, ecc.. Non teniamo conto della classificazione per i soggetti esterni perché non rilevante nel SIL.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codTipoAzienda">
                <xs:annotation>
                    <xs:documentation>chiave esterna verso il codice di tipologia: agricola, artigiana, interinale, a domicilio, scuola, ente di formazione, ..Se si vuole registrare ad esempio una "cooperativa agricola": "cooperativa" é la natura giuridica, mentre la tipologia é "agricola".</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numDipendenti" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero di dipendenti</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="38"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numCollaboratori" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero di collaboratori</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="38"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numAltraPosizione" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero di soggetti in altra posizione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="38"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datInizio" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>data inizio validità</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipoSede">
        <xs:sequence>
            <xs:element name="strIndirizzo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strLocalita" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>descrizione della specifica località</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codCom" type="ci:Comune">
                <xs:annotation>
                    <xs:documentation>Codice del comune</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strCAP" type="ci:Cap" minOccurs="0"/>
            <xs:element name="flgSede" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flag che indica se si tratta della sede Legale</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codAzStato" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>chiave esterna verso lo stato dell'unità aziendale: in attività, cessata, in crisi, ...</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strResponsabile" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>responsabile della sede</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strReferente" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>referente della sede</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strTel" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>telefono della sede</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strFax" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>fax della sede</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strEmail" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codAteco" type="ci:Ateco">
                <xs:annotation>
                    <xs:documentation>settore (attività) aziendale</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strNumeroINPS" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero INPS prevalente</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strRepartoINPS" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>reparto descrettivo legato al numero di inps</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strDenominazione" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Denominazione Azienda</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codCCNL" type="ci:CCNL">
                <xs:annotation>
                    <xs:documentation>Contratto collettivo nazionale del Lavoro</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipoLavoratore">
        <xs:sequence>
            <xs:element name="datiLavoratore" type="ci:DatiLavoratore"/>
            <xs:element name="datiLavoratoreAccordo" type="ci:DatiLavoratoreAccordo" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipoSindacato">
        <xs:sequence>
            <xs:element name="strCognome">
                <xs:annotation>
                    <xs:documentation>Cognome del sindacalista</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNome">
                <xs:annotation>
                    <xs:documentation>Nome del sindacalista</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strSindacato">
                <xs:annotation>
                    <xs:documentation>Sigla del sindacato di appartenenza</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipoEsameCongiunto">
        <xs:sequence>
            <xs:element name="strCognomeRappresCong" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Cognome del rappresentante dell'esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNomeRappresCong" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nome del rappresentante dell'esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strCognomeOrgDator" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Cognome del rappresentante dell'organizzazione datoriale per l'esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNomeOrgDator" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nome del rappresentante dell'organizzazione datoriale per l'esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strMotivoRichiesta" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Motivazione della richiesta</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datRichiestaDal" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data da cui è richiesta la CIG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datRichiestaAl" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data fino a cui è richiesta la CIG</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numMesi" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero di mesi CIG richiesti</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numLavoratori" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero di lavoratori
(MANCA LA PRECISIONE NEL DB)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="flgEsameCongAnno1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 1) è stato richiesto un esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgEsameCongAnno2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 2) è stato richiesto un esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgEsameCongAnno3" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 3) è stato richiesto un esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgEsameCongAnno4" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 4) è stato richiesto un esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgEsameCongAnno5" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 5) è stato richiesto un esame congiunto</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgSospAnno1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 1)  è stata effettuata una sospensione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgSospAnno2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 2)  è stata effettuata una sospensione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgSospAnno3" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 3)  è stata effettuata una sospensione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgSospAnno4" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 4)  è stata effettuata una sospensione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgSospAnno5" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se l’anno precedente (anno della domanda - 5)  è stata effettuata una sospensione</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatiLavoratoreAccordo">
        <xs:sequence>
            <xs:element name="flgAccolto" type="ci:Si-No" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flag Accolto (S/N/null)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codMacroQualifica">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numOrePTSett" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>tempo parziale - numero ore settimanali </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numOreFTSett" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>tempo pieno - numero ore settimanali</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datFineCigs" type="xs:date">
                <xs:annotation>
                    <xs:documentation>data fine CIGS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datInizioCigs" type="xs:date">
                <xs:annotation>
                    <xs:documentation>data inizio CIGS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numTotGgCIGS">
                <xs:annotation>
                    <xs:documentation>totale Giorni CIGS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numTotOreCIGS">
                <xs:annotation>
                    <xs:documentation>totale ore CIGS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNota" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codTipoContratto" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatiLavoratore">
        <xs:sequence>
            <xs:element name="strCodiceFiscale" type="ci:CodiceFiscale">
                <xs:annotation>
                    <xs:documentation>codice fiscale del lavoratore</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strCognome">
                <xs:annotation>
                    <xs:documentation>cognome del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNome">
                <xs:annotation>
                    <xs:documentation>nome del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strSesso">
                <xs:simpleType>
                    <xs:restriction base="ci:Sesso">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datAssunzione" type="xs:date">
                <xs:annotation>
                    <xs:documentation>data assunzione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codComNascita" type="ci:Comune" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Comune di nascita</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datNascita" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data di nascita</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strCell" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Cellulare del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strAltroTel" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Altro recapito telefonico del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codLineaAz">
                <xs:annotation>
                    <xs:documentation>Linea di azione per il lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codQualificaSRQ" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Qualifica SRQ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codComRes" type="ci:Comune" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Comune di residenza del lavoratore</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strIndRes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indirizzo di residenza del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codComDom" type="ci:Comune" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Comune di domicilio del lavoratore</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="strIndDom" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indirizzo di domicilio del lavoratore</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codCittadinanza" type="ci:Cittadinanza" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Cittadinanza del lavoratore</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codTitolo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Titolo di studio</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNota" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatiAccordo">
        <xs:sequence>
            <xs:element name="codAccordo">
                <xs:annotation>
                    <xs:documentation>codice dell' accordo</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strProtocollo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>protocollo esterno al SIL</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datProtocollo" type="xs:date" minOccurs="0"/>
            <xs:element name="codTipoConcessione" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numConcessione" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero della concessione CIG</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="38"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datConcessione" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>data della Concessione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numTotOreCIGConces" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>totale ore CIGS concesse</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numTotLavCIGConces" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero tot. concesso di lavoratori  in CIGS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNota" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nota</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datLiqINPS" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>data di liquidazione INPS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numLiqINPS" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>importo liquidato da INPS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgCIGSAnticip" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>CIGS Anticipata (VALORI?)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codMonoProv" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Provenienza dell'accordo: M=inserimento manuale; F=provenienza da file EBER; S= provenienza da SARE</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datAccordo" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>data dell'accordo inputata manualmente in RER</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codTipoAccordo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" fixed="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codAccordoOrig" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Codice dell'accordo precedente. Se valorizzato significa che il record corrente sta rettificando un accordo precedentemente inviato </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codStatoAtto">
                <xs:annotation>
                    <xs:documentation>stato dell'accordo (annullato,  valido) DA RIGUARDARE VALORI TABELLA DE_STATO_ATTO</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strCognomeLegale" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cognome del legale rappresentante</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNomeLegale" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>nome del legale rappresentante</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgPagDiretto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>indica se richiesto pagamento diretto dei lavoratori. Flag S/N/null</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datConsultaSind" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero di lavoratori in forza all'inizio del periodo di riferimento (complessivamente su tutte le sedi)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numLavForzaCompl" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>numero di lavoratori in forza all'inizio del periodo di riferimento (complessivamente su tutte le sedi)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="38"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strCognomeRef" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cognome del referente dell'accordo</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strNomeRef" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>nome del referente dell'accordo</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strTelRef" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>telefono del referente</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strFaxRef" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>fax del referente</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strEmailRef" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>E-mail del referente</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgUANonCoinvolta" type="ci:Si-No" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>esiste un unità aziendale non coinvolta nella domanda (S,  N o Null)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dtmInvio" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>data di invio domanda (ora solo su SARE, EBER non invia questa informazione)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="flgRichPagamentoAnticipato" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Richiesto pagamento anticipato all'INPS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgProroga" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Proroga di domanda CIG</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codDomandaCIGProrogata" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Codice originario della domanda CIG che si sta prorogando</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flgImprArtigiana" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indica se si tratta di impresa artigiana</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codNatGiuridicaFse" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Codice della natura giuridica in base alla codifica utilizzata per FSE</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="codMacroCategoria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Codice della macro categoria di impresa</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="numVersione" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Versione (interna) del tracciato</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rel_Accordo_UA_Lavoratore">
        <xs:annotation>
            <xs:documentation>Rappresenta CI_REL_ACCORDO_UNIT_AZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lavoratori" type="ci:TipoLavoratore" maxOccurs="unbounded"/>
            <xs:element name="sede" type="ci:TipoSede"/>
        </xs:sequence>
        <xs:attribute name="flgCoinvolta" use="required">
            <xs:annotation>
                <xs:documentation>Indica se l'unità aziendale è coinvolta nell'accordo. (S/N/null)
L'essere non coinvolta (flag='N') significa che nel quadro D l'azienda è stata indicata come non coinvolta nella CIGS in deroga.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="1"/>
                    <xs:enumeration value="S"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="numLavForza" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:fractionDigits value="0"/>
                    <xs:totalDigits value="38"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="strNumeroINPS"/>
        <xs:attribute name="strSedeINPS"/>
        <xs:attribute name="codAzTipo">
            <xs:annotation>
                <xs:documentation>Tipo di azienda per CIG RER. Nello schema da SARE si chiamava: macroSettore</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="strOrgDatoriale">
            <xs:annotation>
                <xs:documentation>CIGS: organizzazione sindacale a cui è associata l'impresa</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="strConsulenteLav">
            <xs:annotation>
                <xs:documentation>Professionista o consulente del lavoro</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="80"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TipoAccordoCIG">
        <xs:sequence>
            <xs:element name="datiAccordo" type="ci:DatiAccordo"/>
            <xs:element name="esameCongiunto" type="ci:TipoEsameCongiunto" minOccurs="0"/>
            <xs:element name="azienda" type="ci:TipoTestataAzienda"/>
            <xs:element name="relAzienda" type="ci:Rel_Accordo_UA_Lavoratore" maxOccurs="unbounded"/>
            <xs:element name="sindacati" type="ci:TipoSindacato" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:integer" use="required" fixed="1"/>
    </xs:complexType>
    <xs:element name="accordoCIG" type="ci:TipoAccordoCIG"/>
</xs:schema>
