sil/sil-war/src/main/webapp/WEB-INF/esito_corso_CIG.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:corso="http://regione.emilia-romagna.it/sare/cig/corsi" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://regione.emilia-romagna.it/sare/cig/corsi" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
    <xs:simpleType name="CodiceFiscale">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
            <xs:pattern value="[0-9]{11}"/>
            <xs:pattern value="[0-9]{16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Telefono">
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Comune">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1}\d{3}"/>
            <xs:pattern value="[0]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CCNL">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Ateco">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimeStamp">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}\.\d{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="esitoCorso">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="corso">
                    <xs:annotation>
                        <xs:documentation>ORIENTER2/SIFER</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codiceFiscaleLavoratore" type="corso:CodiceFiscale">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2/SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="accordoCrisiCodice">
                                <xs:annotation>
                                    <xs:documentation>E' l'equivalente del codice accordo (codice domada) CIG nel SIL
ORIENTER2/SIFER</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                        <xs:pattern value="[A-Za-z0-9]+"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="presaInCaricoEnte" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>E la data di presa in carico da parte dell'ENTE
SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataInizioPrev" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataFinePrev" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataInizioEffettiva" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataFineEffettiva" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataRitiro" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="motivoRitiro" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>SIFER</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:choice>
                                <xs:sequence minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>ORIENTER2/SIFER</xs:documentation>
                                    </xs:annotation>
                                    <xs:element name="rifPAOperazioneScelta">
                                        <xs:annotation>
                                            <xs:documentation>E' l'ID del corso a cui si è iscritto il lavoratore
ORIENTER2/SIFER</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="descrizioneRifPA">
                                        <xs:annotation>
                                            <xs:documentation>ORIENTER2</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="400"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="idSedeCorsoOrienter">
                                        <xs:annotation>
                                            <xs:documentation>ORIENTER2/SIFER</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codComuneSedeCorso" type="corso:Comune">
                                        <xs:annotation>
                                            <xs:documentation>ORIENTER2</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                                <xs:sequence minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>SIFER</xs:documentation>
                                    </xs:annotation>
                                    <xs:element name="idPropopostaCatalogoScelta">
                                        <xs:annotation>
                                            <xs:documentation>SIFER</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="idSedeCorsoCatalogo" type="xs:positiveInteger">
                                        <xs:annotation>
                                            <xs:documentation>SIFER</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ente" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Per Orienter è obbligatorio
ORIENTER2</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codiceFiscaleEnte" type="corso:CodiceFiscale"/>
                            <xs:element name="ragioneSocialeEnte" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sedeLegaleEnte">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="indirizzo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="codComune" type="corso:Comune"/>
                                        <xs:element name="codATECO">
                                            <xs:annotation>
                                                <xs:documentation>E' il codice ATECO SENZA PUNTINI di formattazione</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="corso:Ateco">
                                                    <xs:minLength value="1"/>
                                                    <xs:pattern value="[A-Za-z0-9]+"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="codCCNL" type="corso:CCNL"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="referente" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Per Orienter è obbligatorio
ORIENTER2</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cognome">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nome">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tel">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="evento">
                    <xs:annotation>
                        <xs:documentation>ORIENTER2/SIFER</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tipo">
                                <xs:annotation>
                                    <xs:documentation>Possibili valori:
Inserimtento(SOLO ORIENTER2)
Cancellazione(SOLO ORIENTER2)
Resoconto(SOLO SIFER)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[ICR]"/>
                                        <xs:enumeration value="I"/>
                                        <xs:enumeration value="C"/>
                                        <xs:enumeration value="R"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="codCPIMittente" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="9"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="codOp" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2
E' il codice dell'operatore CPI che ha eseguito l'operazione.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:totalDigits value="38"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="codColl" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2
E' il codice dell colloquio cui è legato il corso</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:totalDigits value="38"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="codPerc" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2
E' il codice del percorso concordato cui è legato il Corso</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:totalDigits value="38"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="orarioInvio" type="corso:TimeStamp">
                                <xs:annotation>
                                    <xs:documentation>ORIENTER2 
E' l'orario di Invio dal sistema. Serve per determinare correttamente la sequenza temporale degli eventi</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
