sil/sil-war/src/main/webapp/WEB-INF/xsd/requisitiAdesione/input.xsd

 <?xml version="1.0" encoding="utf-16"?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PercettoreAmmortizzatori">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GaranziaOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodiceFiscale" type="CodiceFiscale" />
        <xs:element name="DataAdesione" type="xs:date" />
        <xs:element name="PercettoreAmmortizzatori" type="PercettoreAmmortizzatori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
