sil/sil-war/src/main/webapp/WEB-INF/xsd/requisitiAdesione/output.xsd

 
<?xml version="1.0" encoding="utf-16"?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Risposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codice" type="xs:byte" />
        <xs:element name="descrizione" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>