myaccount/src/main/resources/xsd/autenticazione/RegistrazioneUtente.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegistrazioneAzienda">
    <xs:complexType>
      <xs:sequence>        
        <xs:element name="DatiAccreditamento">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="username" />
              <xs:element ref="password" />
              <xs:element ref="mittenteSARE" minOccurs="0" />
              <xs:element ref="softwareUtilizzato" />
              <xs:element ref="tipoUtenteSare" />	
			  <xs:element ref="idCpi" minOccurs="0" /> 
			  <xs:element ref="enteProv" minOccurs="0" /> 	
			  <xs:element ref="strConvenzione" /> 			  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatiRichiedente">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="nome" minOccurs="0" />
              <xs:element ref="cognome" minOccurs="0" />
              <xs:element ref="dataNascita" minOccurs="0" />
              <xs:element ref="codComuneNascita" minOccurs="0" />
              <xs:element ref="email" />
              <xs:element ref="indirizzoRichiedente" minOccurs="0" />
              <xs:element ref="capRichiedente" minOccurs="0" />
              <xs:element ref="codComuneRichiedente" minOccurs="0" />
              <xs:element ref="codTipoAbilitato" minOccurs="0" />
              <xs:element ref="codTipoDelegato" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatiAzienda">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="codiceFiscale" minOccurs="0" />
              <xs:element ref="partitaIVA" minOccurs="0" />
              <xs:element ref="ragioneSociale" />
              <xs:element ref="referenteSARE" minOccurs="0" />
              <xs:element ref="telefonoReferenteSARE" minOccurs="0" />
              <xs:element ref="emailReferenteSARE" minOccurs="0" />              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="DatiSedeLegale">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="indirizzoSedeLegale" />
              <xs:element ref="capSedeLegale" />
              <xs:element ref="codComuneSedeLegale" />
              <xs:element ref="telefonoSedeLegale" />
              <xs:element ref="faxSedeLegale" />                           
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatiSedeOperativa">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="indirizzoSedeOperativa" />
              <xs:element ref="capSedeOperativa" minOccurs="0" />
              <xs:element ref="codComuneSedeOperativa" minOccurs="0" />
              <xs:element ref="telefonoSedeOperativa" />
              <xs:element ref="faxSedeOperativa" minOccurs="0" />                           
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="DatiAgenziaSomministrazione">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="flagAgenziaEstera" />
              <xs:element ref="numeroProvvedimento" />
              <xs:element ref="dataProvvedimento" />
              <xs:element ref="codComuneIscrizione" />
              <xs:element ref="numeroIscrizioneAlbo" />
              <xs:element ref="dataIscrizione" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="DatiSoggettoAbilitato">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="iscrizioneOrdine" />              
              <xs:element ref="codComuneIscrizioneOrdine" />
              <xs:element ref="numeroIscrizioneOrdine" />
              <xs:element ref="dataIscrizioneOrdine" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>           
  </xs:element>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mail">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256"/>
      <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa2Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa13Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="13" />
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="Stringa15Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa16Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa30Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="Stringa32Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="8" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="Stringa50Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>   
  <xs:simpleType name="SoftwareUtilizzatoCheck">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01" />
      <xs:enumeration value="02" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa80Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa250">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comuneCheck">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}\d{3}"/>
      <xs:pattern value="[0]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="capCheck">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoAbilitatoCheck">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="01" />
      <xs:enumeration value="02" />  
      <xs:enumeration value="03" />  
      <xs:enumeration value="04" />  
      <xs:enumeration value="05" />
      <xs:enumeration value="06" />          
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoDelegatoCheck">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />	
      <xs:enumeration value="001" />
      <xs:enumeration value="002" />
      <xs:enumeration value="003" />
      <xs:enumeration value="004" />
      <xs:enumeration value="005" />
      <xs:enumeration value="006" />
      <xs:enumeration value="007" />
      <xs:enumeration value="008" />
      <xs:enumeration value="009" />
      <xs:enumeration value="010" />
      <xs:enumeration value="011" />
      <xs:enumeration value="012" />
      <xs:enumeration value="013" />      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Si-No">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUtenteSare">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="B"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="N"/>
      <xs:enumeration value="R"/>
      <xs:enumeration value="T"/>      
    </xs:restriction>
  </xs:simpleType>  
   <xs:simpleType name="tipoEnteProv">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="tipoIdCpi">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}[A-Za-z0-9]{1}"/>
    </xs:restriction>
  </xs:simpleType>  
  
  <xs:element name="username" type="Stringa16Obbl" />
  <xs:element name="password" type="Stringa50Obbl" />
  <xs:element name="mittenteSARE" type="Stringa13Obbl" />
  <xs:element name="softwareUtilizzato" type="SoftwareUtilizzatoCheck" />  
  <xs:element name="tipoUtenteSare" type="tipoUtenteSare" />
  <xs:element name="idCpi" type="tipoIdCpi" /> 
  <xs:element name="enteProv" type="tipoEnteProv" /> 
  <xs:element name="strConvenzione" type="Si-No" />
  
  <xs:element name="nome" type="Stringa30Obbl" />
  <xs:element name="cognome" type="Stringa30Obbl" />
  <xs:element name="dataNascita" type="xs:date" />
  <xs:element name="codComuneNascita" type="comuneCheck" />  
  <xs:element name="email" type="mail" />
  <xs:element name="indirizzoRichiedente" type="Stringa100Obbl" />
  <xs:element name="capRichiedente" type="capCheck" />
  <xs:element name="codComuneRichiedente" type="comuneCheck" />
  <xs:element name="codTipoAbilitato" type="TipoAbilitatoCheck" />  
  <xs:element name="codTipoDelegato" type="TipoDelegatoCheck" nillable="true" />  
   
  <xs:element name="codiceFiscale" type="CodiceFiscale" />
  <xs:element name="partitaIVA" type="CodiceFiscale" />
  <xs:element name="ragioneSociale" type="Stringa80Obbl" />
  <xs:element name="referenteSARE" type="Stringa50Obbl" />
  <xs:element name="telefonoReferenteSARE" type="Stringa50Obbl" />  
  <xs:element name="emailReferenteSARE" type="mail" />  
  
  <xs:element name="indirizzoSedeLegale" type="Stringa100Obbl" />
  <xs:element name="capSedeLegale" type="capCheck" />
  <xs:element name="codComuneSedeLegale" type="comuneCheck" />
  <xs:element name="telefonoSedeLegale" type="Stringa50Obbl" />
  <xs:element name="faxSedeLegale" type="Stringa50Obbl" />  
  
  <xs:element name="indirizzoSedeOperativa" type="Stringa100Obbl" />
  <xs:element name="capSedeOperativa" type="capCheck" />
  <xs:element name="codComuneSedeOperativa" type="comuneCheck" />
  <xs:element name="telefonoSedeOperativa" type="Stringa50Obbl" />
  <xs:element name="faxSedeOperativa" type="Stringa50Obbl" />  
  
  <xs:element name="flagAgenziaEstera" type="Si-No" />
  <xs:element name="numeroProvvedimento" type="Stringa30Obbl" />
  <xs:element name="dataProvvedimento" type="xs:date" />
  <xs:element name="codComuneIscrizione" type="comuneCheck" />
  <xs:element name="numeroIscrizioneAlbo" type="Stringa30Obbl" />    
  <xs:element name="dataIscrizione" type="xs:date" />  
  
  <xs:element name="iscrizioneOrdine" type="Stringa80Obbl" />
  <xs:element name="codComuneIscrizioneOrdine" type="comuneCheck" />
  <xs:element name="numeroIscrizioneOrdine" type="Stringa30Obbl" />    
  <xs:element name="dataIscrizioneOrdine" type="xs:date" />  

</xs:schema>