sil/sil-war/src/main/webapp/WEB-INF/xsd/comPI_SILP.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="CodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodiceFiscaleInternazionale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
			<xs:pattern value="[A-Z]{2}[0-9A-Z]{1,97}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Cap">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMail">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
			<xs:pattern value="[\w]+[^@]+@+[\w]+[^@]+\.[^@]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoComunicazione">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Comune">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}\d{3}"/>
			<xs:pattern value="[0]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Settore">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.[0-9A-Z]{1}"/>
			<xs:pattern value="\d{4}[0-9A-Z]{1}"/>
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
			<xs:pattern value="\d{6}"/>
			<xs:pattern value="NT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCNL">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QualificaProfessionale">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]\.){4}[0-9]{1,2}"/>
			<xs:pattern value="\d{6}"/>
			<xs:pattern value="NT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String80">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String60">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OneChar">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Regione">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S-N">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="categoriacompensazione">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>Compensazione in eccedenza</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Compensazione in riduzione</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statoconcessione">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>Approvata/Concessa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>Richiesta</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="elencoriepilogativo">
		<xs:sequence>
			<xs:element name="provincia">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numLavBaseComputoArt3" type="Numerico"/>
			<xs:element name="numLavBaseComputoArt18" type="Numerico"/>
			<xs:element name="numLavoratori" type="Numerico" minOccurs="0"/>
			<xs:element name="sospensioni" type="Numerico" minOccurs="0"/>
			<xs:element name="categoriacompdisabili" type="categoriacompensazione" minOccurs="0"/>
			<xs:element name="numerocompdisabili" type="Numerico" minOccurs="0"/>
			<xs:element name="categoriacompcatprotette" type="categoriacompensazione" minOccurs="0"/>
			<xs:element name="numerocompcatprotette" type="Numerico" minOccurs="0"/>
			<xs:element name="disabili" type="Numerico"/>
			<xs:element name="catprotette" type="Numerico"/>
			<xs:element name="catprotettecontatecomedisabili" type="Numerico" minOccurs="0"/>
			<xs:element name="quotariservadisabili" type="Numerico"/>
			<xs:element name="quotariservacatprotette" type="Numerico"/>
			<xs:element name="esonerati" type="Numerico"/>
			<xs:element name="scoperturedisabili" type="Numerico"/>
			<xs:element name="scoperturecatprotette" type="Numerico"/>
			<xs:element name="sospensioniincorso" type="S-N"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="riepilogonazionale">
		<xs:sequence>
			<xs:element name="numLavBaseComputoArt3" type="Numerico"/>
			<xs:element name="numLavBaseComputoArt18" type="Numerico"/>
			<xs:element name="numLavoratori" type="Numerico" minOccurs="0"/>
			<xs:element name="quotariservadisabili" type="Numerico"/>
			<xs:element name="quotariservacatprotette" type="Numerico"/>
			<xs:element name="sospensioni" type="Numerico" minOccurs="0"/>
			<xs:element name="esoneri" type="Numerico"/>
			<xs:element name="disabili" type="Numerico"/>
			<xs:element name="catprotette" type="Numerico"/>
			<xs:element name="quotaesuberiArt18" type="Numerico"/>
			<xs:element name="catprotettecontatecomedisabili" type="Numerico" minOccurs="0"/>
			<xs:element name="scoperturedisabili" type="Numerico"/>
			<xs:element name="scoperturecatprotette" type="Numerico"/>
			<xs:element name="strnote" type="String1000" minOccurs="0"/>
			<xs:element name="sospensioniincorso" type="S-N"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gradualita">
		<xs:sequence>
			<xs:element name="datatrasformazione" type="xs:date"/>
			<xs:element name="numPercGradualita" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sospensionemobilita">
		<xs:sequence>
			<xs:element name="flgSospensioneMobilita" type="S-N" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProspettoInformativo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DatiGenerali">
					<xs:complexType>
						<xs:attribute name="codProvinciaRif" type="xs:string" use="required"/>
						<xs:attribute name="datProspetto" type="xs:date" use="required"/>
						<xs:attribute name="numAnnoRifProspetto" type="xs:gYear" use="required"/>
						<xs:attribute name="flgCapoGruppo" type="S-N" use="required"/>
						<xs:attribute name="strCodFiscaleCapoGruppo" type="CodiceFiscaleInternazionale" use="optional"/>
						<xs:attribute name="numDipendentiNazionale" type="xs:long" use="optional"/>
						<xs:attribute name="numOreCCNL" type="xs:integer" use="required"/>
						<xs:attribute name="numPostiCentralinisti" type="xs:integer" use="optional"/>
						<xs:attribute name="numMassofisioterapisti" type="xs:integer" use="optional"/>
						<xs:attribute name="codMonoCategoria" type="OneChar" use="required"/>
						<xs:attribute name="datPrimaAssunzione" type="xs:date" use="optional"/>
						<xs:attribute name="datSecondaAssunzione" type="xs:date" use="optional"/>
						<xs:attribute name="datConsegnaProspetto" type="xs:dateTime" use="required"/>
						<xs:attribute name="strNote" type="String1000" use="optional"/>
						<xs:attribute name="tipocomunicazione" type="TipoComunicazione" use="required"/>
						<xs:attribute name="codiceComunicazione" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="codicecomunicazioneprecedente" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="flgCapoGruppoEstera" type="OneChar" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Azienda">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UnitaAzProvRif">
								<xs:complexType>
									<xs:attribute name="codAteco" type="Settore" use="required"/>
									<xs:attribute name="codCcnl" type="CCNL" use="required"/>
									<xs:attribute name="codCom" type="Comune" use="required"/>
									<xs:attribute name="flgSede" type="String1" use="required"/>
									<xs:attribute name="strCap" type="Cap"/>
									<xs:attribute name="strCognome" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="strEMail" type="String80" use="optional"/>
									<xs:attribute name="strFax" type="String20" use="optional"/>
									<xs:attribute name="strIndirizzo" type="String60" use="required"/>
									<xs:attribute name="strTel" type="String20" use="optional"/>
									<xs:attribute name="strDenominazione" type="String100" use="optional"/>
									<xs:attribute name="strNome" type="String40" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="codTipoAzienda" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="flgObbligoL68" type="String1" use="required"/>
						<xs:attribute name="strCodiceFiscale" use="required">
							<xs:simpleType>
								<xs:restriction base="CodiceFiscale">
									<xs:minLength value="11"/>
									<xs:maxLength value="16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="strNumAgSomministrazione" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="strNumAlboInterinali" type="String20" use="optional"/>
						<xs:attribute name="strPartitaIva" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="11"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="strRagioneSociale" type="String100" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Esclusioni" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="numAltriEsclusi" type="xs:integer" use="required"/>
						<xs:attribute name="numApprendisti" type="xs:integer" use="required"/>
						<xs:attribute name="numCFL" type="xs:integer" use="required"/>
						<xs:attribute name="numCIGS" type="xs:integer" use="required"/>
						<xs:attribute name="numDirigenti" type="xs:integer" use="required"/>
						<xs:attribute name="numDisabili" type="xs:integer" use="required"/>
						<xs:attribute name="numDomicilio" type="xs:integer" use="required"/>
						<xs:attribute name="numPartTime" type="xs:integer" use="required"/>
						<xs:attribute name="numProtette" type="xs:integer" use="required"/>
						<xs:attribute name="numReinserimento" type="xs:integer" use="required"/>
						<xs:attribute name="numSociLavoratori" type="xs:integer" use="required"/>
						<xs:attribute name="numTDmeno9mesi" type="xs:integer" use="required"/>
						<xs:attribute name="numTemporaneo" type="xs:integer" use="required"/>
						<xs:attribute name="numLavAcquisiti" type="xs:integer" use="required"/>
						<xs:attribute name="numPersonaleNonAmm_C3" type="xs:integer" use="required"/>
						<xs:attribute name="numPersonaleNonAmm_C4" type="xs:integer" use="required"/>
						<xs:attribute name="numPersonaleViaggiante" type="xs:integer" use="required"/>
						<xs:attribute name="numLSUStabili" type="xs:integer" use="required"/>
						<xs:attribute name="numLavoratoriOpEstero" type="xs:integer" use="required"/>
						<xs:attribute name="numLavoratoriEdilizia" type="xs:integer" use="required"/>
						<xs:attribute name="numLavEmersiNero" type="xs:integer" use="required"/>
						<xs:attribute name="numIntermittenti" type="xs:integer" use="required"/>
						<xs:attribute name="numTDmeno6mesi" type="xs:integer" use="required"/>
						<xs:attribute name="numSomministr" type="xs:integer" use="required"/>
						<xs:attribute name="numSottosuolo" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="LavoratoriL68" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Lavoratore" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Rapporto">
											<xs:complexType>
												<xs:attribute name="codContratto" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="8"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="codMansione" type="QualificaProfessionale" use="optional"/>
												<xs:attribute name="codMonoCategoria" type="OneChar" use="required"/>
												<xs:attribute name="flgBattistoni" type="OneChar" use="optional"/>
												<xs:attribute name="codMonoTipo" type="OneChar" use="required"/>
												<xs:attribute name="dataFineRapp" type="xs:date" use="optional"/>
												<xs:attribute name="dataInizioRapp" type="xs:date" use="required"/>
												<xs:attribute name="decCopertura" type="xs:decimal" use="required"/>
												<xs:attribute name="decOreLavorate" type="xs:decimal" use="required"/>
												<xs:attribute name="decOreTotali" type="xs:decimal" use="required"/>
												<xs:attribute name="flgConvenzione" type="OneChar" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="strCodiceFiscaleLav" type="CodiceFiscale" use="required"/>
									<xs:attribute name="strCognomeLav" type="String40" use="required"/>
									<xs:attribute name="strNomeLav" type="String40" use="required"/>
									<xs:attribute name="percentualedisabilita" type="xs:int" use="optional"/>
									<xs:attribute name="strNote" type="String1000" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PostiDisponibili" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dettaglio" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="codComDisp" use="required">
										<xs:simpleType>
											<xs:restriction base="Comune"/>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="codMansione" use="required">
										<xs:simpleType>
											<xs:restriction base="QualificaProfessionale"/>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="codMonoCategoria" type="OneChar" use="required"/>
									<xs:attribute name="numPosti" type="xs:integer" use="required"/>
									<xs:attribute name="strNote" type="String1000" use="optional"/>
									<xs:attribute name="codMonoTipo" type="OneChar" use="required"/>
									<xs:attribute name="strDescMansione" type="String200" use="required"/>
									<xs:attribute name="strCapacitaControIndicaz" type="String200" use="required"/>
									<xs:attribute name="flgBarriereArchitettoniche" type="S-N" use="required"/>
									<xs:attribute name="flgTurniNotturni" type="S-N" use="required"/>
									<xs:attribute name="flgMezziPubblici" type="S-N" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Autorizzazioni" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Esonero" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="datFineEsonero" type="xs:date" use="optional"/>
									<xs:attribute name="flgEsonero" type="OneChar" use="optional"/>
									<xs:attribute name="flgEsonRichProroga" type="OneChar" use="optional"/>
									<xs:attribute name="numPercEsonero" type="xs:integer" use="optional"/>
									<xs:attribute name="datEsonRichProroga" type="xs:date" use="optional"/>
									<xs:attribute name="numLavoratoriEsonero" type="Numerico" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Gradualita" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="datConcGradualita" type="xs:date" use="optional"/>
									<xs:attribute name="flgGradualita" type="OneChar" use="optional"/>
									<xs:attribute name="numAssGradualita" type="xs:integer" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Sospensione" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="codMotivoSosp" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="datSospensione" type="xs:date" use="optional"/>
									<xs:attribute name="flgSospensione" type="OneChar" use="optional"/>
									<xs:attribute name="causaleSosp" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="numLavoratoriSosp" type="Numerico" use="required"/>
									<xs:attribute name="statoSosp" type="statoconcessione" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CompensazioneTerritoriale" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Dettaglio" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="codMonoCategoria" type="OneChar" use="required"/>
												<xs:attribute name="codMonoEccDiff" type="OneChar" use="required"/>
												<xs:attribute name="codProvincia" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="numInteressati" type="xs:integer" use="required"/>
												<xs:attribute name="strSede" type="String100" use="optional"/>
												<xs:attribute name="strCodFiscaleAzGruppo" type="CodiceFiscale" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="flgCompTerritoriale" type="OneChar" use="optional"/>
									<xs:attribute name="datCompTerritoriale" type="xs:date" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Convenzione" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="flgConvenzione" type="OneChar" use="optional"/>
									<xs:attribute name="datStipulaConv" type="xs:date" use="optional"/>
									<xs:attribute name="numLavoratoriConv" type="xs:integer" use="optional"/>
									<xs:attribute name="numAssConv" type="xs:integer" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="PassaggioA15Dipendenti" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="flg15Dipendenti" type="OneChar" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Riepilogo">
					<xs:complexType>
						<xs:attribute name="numArt18CompTerrNomi" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18CompTerrNume" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18Forza" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18ForzaNomi" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18ForzaNume" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18Nom" type="xs:integer" use="required"/>
						<xs:attribute name="numArt18Num" type="xs:integer" use="required"/>
						<xs:attribute name="numBaseComputo" type="xs:integer" use="required"/>
						<xs:attribute name="numDisabiliNom" type="xs:integer" use="required"/>
						<xs:attribute name="numDisabiliNum" type="xs:integer" use="required"/>
						<xs:attribute name="numDisCompTerrNomi" type="xs:integer" use="required"/>
						<xs:attribute name="numDisCompTerrNume" type="xs:integer" use="required"/>
						<xs:attribute name="numDisEsonNomi" type="xs:integer" use="required"/>
						<xs:attribute name="numDisEsonNume" type="xs:integer" use="required"/>
						<xs:attribute name="numDisForza" type="xs:integer" use="required"/>
						<xs:attribute name="numDisForzaNomi" type="xs:integer" use="required"/>
						<xs:attribute name="numDisForzaNume" type="xs:integer" use="required"/>
						<xs:attribute name="numQuotaArt18" type="xs:integer" use="required"/>
						<xs:attribute name="numQuotaDisabili" type="xs:integer" use="required"/>
						<xs:attribute name="numQuotaDisGrad" type="xs:integer" use="required"/>
						<xs:attribute name="numDipendentiTot" type="xs:integer" use="required"/>
						<xs:attribute name="numBattDisForza" type="xs:integer" use="optional"/>
						<xs:attribute name="numBattArt18Forza" type="xs:integer" use="optional"/>
						<xs:attribute name="totBattistoniForza" type="xs:integer" use="optional"/>
						<xs:attribute name="numCentralinistiInForza" type="xs:integer" use="optional"/>
						<xs:attribute name="numMassofisioterapistiInForza" type="xs:integer" use="optional"/>
						<xs:attribute name="numInForza17012000" type="xs:integer" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferenteProspetto">
					<xs:complexType>
						<xs:attribute name="strRefCognome" type="String40" use="required"/>
						<xs:attribute name="strRefNome" type="String40" use="required"/>
						<xs:attribute name="strRefTel" type="String20" use="required"/>
						<xs:attribute name="strRefFax" type="String20" use="optional"/>
						<xs:attribute name="strRefEMail" type="String80" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Gradualita" type="gradualita" minOccurs="0"/>
				<xs:element name="SospensioneMobilita" type="sospensionemobilita" minOccurs="0"/>
				<xs:element name="AssunzioniPubblicaSelezione" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dettaglio" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="regione" type="Regione" use="required"/>
									<xs:attribute name="saldodisabili" type="Numerico" use="required"/>
									<xs:attribute name="saldoexart18" type="Numerico" use="required"/>
									<xs:attribute name="strNote" type="String2000" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DettaglioPartTime" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dettaglio" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="numero" type="Numerico" use="required"/>
									<xs:attribute name="orariosettimanalecontrattuale" type="xs:decimal" use="required"/>
									<xs:attribute name="orariosettimanaleparttime" type="xs:decimal" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DettaglioIntermittenti" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dettaglio" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="numero" type="Numerico" use="required"/>
									<xs:attribute name="orariosettimanalecontrattuale" type="xs:decimal" use="required"/>
									<xs:attribute name="orariosettimanalesvolto" type="xs:decimal" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:sequence>
					<xs:element name="elencoriepilogativoprovinciale" type="elencoriepilogativo" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="riepilogonazionale" type="riepilogonazionale" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
