sil/sil-war/src/main/webapp/wsdl/siaper/WSCOB.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wscob.siaper.islm.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wscob.siaper.islm.it/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://wscob.siaper.islm.it/">
<s:element name="save">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="charSequence" type="s:base64Binary"/>
<s:element minOccurs="1" maxOccurs="1" name="useCripting" type="s:boolean"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="saveResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="saveResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="saveSoapIn">
<wsdl:part name="parameters" element="tns:save"/>
</wsdl:message>
<wsdl:message name="saveSoapOut">
<wsdl:part name="parameters" element="tns:saveResponse"/>
</wsdl:message>
<wsdl:portType name="WSCobSoap">
<wsdl:operation name="save">
<wsdl:input message="tns:saveSoapIn"/>
<wsdl:output message="tns:saveSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WSCobSoap" type="tns:WSCobSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="save">
<soap:operation soapAction="http://wscob.siaper.islm.it/save" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="WSCobSoap12" type="tns:WSCobSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="save">
<soap12:operation soapAction="http://wscob.siaper.islm.it/save" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WSCob">
<wsdl:port name="WSCobSoap" binding="tns:WSCobSoap">
<soap:address location="https://rerservizitest.ente.regione.emr.it:9559/webservices/siaper/WSCob.asmx"/>
</wsdl:port>
<wsdl:port name="WSCobSoap12" binding="tns:WSCobSoap12">
<soap12:address location="https://rerservizitest.ente.regione.emr.it:9559/webservices/siaper/WSCob.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>