sil/sil-war/src/main/webapp/WEB-INF/xsd/sifer/ACCREDITAMENTO_SIFER.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:tns="https://sifer.regione.emilia-romagna.it/WebService/GaranziaGiovani/PartecipanteGaranziaGiovani" elementFormDefault="qualified" targetNamespace="https://sifer.regione.emilia-romagna.it/WebService/GaranziaGiovani/PartecipanteGaranziaGiovani" version="5.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="codice_fiscale_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Z]{6}[\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{3}[A-Z])|(\d{11})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codice_provincia_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}" />
    </xsd:restriction>
  </xsd:simpleType>  
  <xsd:simpleType name="sesso_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="F|M" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="date_type">
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codice_istat_nazione_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cap_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{5}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="email_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?" />
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="si_no_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="S|N" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cpi_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{9}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="titolo_studio_patto_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tipo_svantaggio_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,2}" />
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="contratto_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stato_occupazionale_type">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[A-Z]\d{0,3}"/>
        <xsd:pattern value="NT"/>
	</xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="durata_ricerca_occupazione_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-4]{1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="condizione_occupazione_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-5]{1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\S[\S| ]*\S|\S" />
      <xsd:maxLength value="512" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_1_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_12_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_4_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_5_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_8_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_20_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_40_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_60_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="60" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_500_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="500" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="int_type">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:totalDigits value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal_type">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="10" />
        <xsd:pattern value="[0-9]*[.][0-9]*" />
        <xsd:totalDigits value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="FlussoSIL-SIFER">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="partecipante">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="codice_fiscale" type="tns:codice_fiscale_type" />
			  <xsd:element name="validita_cf" type="tns:si_no_type" />
              <xsd:element name="codice_fiscale_originale" minOccurs="0" type="tns:codice_fiscale_type" />
			  <xsd:element name="cdnlavoratore" type="tns:int_type" />
              <xsd:element name="codice_provincia" type="tns:codice_provincia_type" />
              <xsd:element name="cognome" type="tns:varchar_40_type" />
              <xsd:element name="nome" type="tns:varchar_40_type" />
              <xsd:element name="sesso" type="tns:sesso_type" />
              <xsd:element name="nascita_data" type="tns:date_type" />
              <xsd:element name="nascita_codice_istat" type="tns:varchar_8_type" />
              <xsd:element name="cittadinanza" type="tns:codice_istat_nazione_type" />
              <xsd:element name="recapito_telefonico" type="tns:varchar_20_type" />
              <xsd:element name="email" minOccurs="0" type="tns:email_type" />
              <xsd:element name="residenza_codice_istat" type="tns:varchar_8_type" />
              <xsd:element name="residenza_indirizzo" type="tns:varchar_60_type" />
              <xsd:element name="residenza_cap" type="tns:cap_type" />
              <xsd:element name="domicilio_codice_istat" type="tns:varchar_8_type" />
              <xsd:element name="domicilio_indirizzo" type="tns:varchar_60_type" />
              <xsd:element name="domicilio_cap" type="tns:cap_type" />
			  <xsd:element name="dt_mod_anagrafica" type="tns:date_type" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="patti">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="profiling_patto">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="indice_svantaggio" minOccurs="0" type="tns:int_type" />
                    <xsd:element name="indice_svantaggio_vecchio" minOccurs="0" type="tns:int_type" />
                    <xsd:element name="indice_data_riferimento" minOccurs="0" type="tns:date_type" />
					<xsd:element name="profiling_150" minOccurs="0" type="tns:int_type" />
					<xsd:element name="profiling_150_p" minOccurs="0" type="tns:decimal_type" />
                    <xsd:element name="data_riferimento_150" minOccurs="0" type="tns:date_type" />
					<xsd:element name="patto_data" type="tns:date_type" />
                    <xsd:element name="patto_protocollo" type="tns:int_type" />                    
                    <xsd:element name="patto_cpi" type="tns:cpi_type" />
                    <xsd:element name="data_chiusura_patto" minOccurs="0" type="tns:date_type" />
                    <xsd:element name="motivo_chiusura_patto" minOccurs="0" type="tns:varchar_500_type" />
                    <xsd:element name="tipo_misura_patto" type="tns:varchar_8_type" />
                    <xsd:element name="data_adesione" minOccurs="0" type="tns:date_type" />
                    <xsd:element name="anno_programmazione" type="tns:varchar_4_type" />
                    <xsd:element name="titolo_studio_patto" type="tns:titolo_studio_patto_type" />
                    <xsd:element name="condizione_occupazionale" type="tns:condizione_occupazione_type" />
                    <xsd:element name="durata_ricerca_occupazione" minOccurs="0" type="tns:durata_ricerca_occupazione_type" />
                    <xsd:element name="durata_disoccupazione" minOccurs="0" type="tns:int_type" />
					<xsd:element name="contratto" minOccurs="0" type="tns:contratto_type" />
					<xsd:element name="Svantaggi" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" maxOccurs="unbounded" name="tipo_svantaggio" type="tns:tipo_svantaggio_type"/>
							</xsd:sequence>					
						</xsd:complexType>
					</xsd:element>						
					<xsd:element name="nome_responsabile" minOccurs="0" type="tns:varchar_500_type" />
					<xsd:element name="cognome_responsabile" minOccurs="0" type="tns:varchar_500_type" />
					<xsd:element name="email_responsabile" minOccurs="0" type="tns:email_type" />
					<xsd:element name="dt_mod_patto" type="tns:date_type" />
					
                    <xsd:element name="PoliticheAttive">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PoliticaAttiva">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="tipologia_azione_sifer" type="tns:varchar_12_type" />
								<xsd:element name="misura" type="tns:varchar_5_type" />
                                <xsd:element name="prg_percorso" type="tns:int_type" />
                                <xsd:element name="prg_colloquio" type="tns:int_type" />
                                <xsd:element name="durata_effettiva" minOccurs="0" type="tns:int_type" />
                                <xsd:element name="tipologia_durata" minOccurs="0" type="tns:varchar_1_type" />
                                <xsd:element name="esito" type="tns:varchar_8_type" />
								<xsd:element name="codice_organismo" type="tns:int_type" />
								<xsd:element name="codice_distretto" minOccurs="0" type="tns:int_type" />
								<xsd:element name="data_chiusura_politica_attiva" minOccurs="0" type="tns:date_type" />
								<xsd:element name="dt_mod_politica" type="tns:date_type" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>      
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>