sil/sil-war/src/main/webapp/WEB-INF/xsd/sifer/Response_SIL_SIF.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SIFER-output">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DatiGiovane">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codiceFiscale">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
                    <xs:pattern value="[0-9]{11}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  <xs:element name="codice">
                  <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="38" />
                        </xs:restriction>
                      </xs:simpleType>
              </xs:element>
			   <xs:element name="descrizione">
                <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="500" />
                        </xs:restriction>
                   </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PoliticheAttive">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="PoliticaAttiva">
                <xs:complexType>
                  <xs:sequence>                 
                    <xs:element name="prgPercorso">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="38" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="prgColloquio">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="38" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>                  
                    <xs:element name="codice">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:totalDigits value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="descrizione">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="500" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>