sil/sil-war/src/main/webapp/WEB-INF/xsd/ultimoMovimento/movimenti_out.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UltimoPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Esito">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="codice">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="descrizione">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DatiLavoratore">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CodiceFiscale" type="CodiceFiscale" />
              <xs:element name="Cognome" type="Stringa50" />
              <xs:element name="Nome" type="Stringa50" />
              <xs:element name="DataNascita" type="xs:date" />
              <xs:element name="CodComNascita" type="Comune" />
              <xs:element name="ComNascita" type="Stringa100" />
              <xs:element name="TargaComNascita" type="Targa" />
              <xs:element name="Sesso" type="Sesso" />
              <xs:element name="Cittadinanza" type="Cittadinanza" />
              <xs:element name="Residenza">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CodiceComune" type="Comune" />
                    <xs:element name="DescrComune" type="Stringa100" />
                    <xs:element name="Targa" type="Targa" />
                    <xs:element name="Indirizzo">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="60" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Domicilio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CodiceComune" type="Comune" />
                    <xs:element name="DescrComune" type="Stringa100" />
                    <xs:element name="Targa" type="Targa" />
                    <xs:element name="Indirizzo">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="60" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DidStipulabile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codice">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="descrizione">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="RapportoLavorativo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInizioRapporto" type="xs:date" />
              <xs:element name="DataFineRapporto" nillable="true" type="xs:date" />
              <xs:element name="DatiAzienda">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CodiceFiscale" type="CodiceFiscale" />
                    <xs:element name="RagioneSociale" type="Stringa100" />
                    <xs:element name="CodComuneSede" type="Comune" />
                    <xs:element name="ComuneSede" type="Stringa100" />
                    <xs:element name="TargaSede" type="Targa" />
                    <xs:element name="Indirizzo">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="60" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Cap" type="Cap" />
                    <xs:element name="CodAteco" type="Settore" />
                    <xs:element name="Telefono" nillable="true" type="Telefono" />
                    <xs:element name="Fax" nillable="true" type="Telefono" />
                    <xs:element name="Email" nillable="true" type="EMail" />
                    <xs:element name="NumAlbo" nillable="true" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DatiAziendaLegale">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CodComuneLegale" type="Comune" />
                    <xs:element name="ComuneLegale" type="Stringa100" />
                    <xs:element name="TargaLegale" type="xs:string" />
                    <xs:element name="IndirizzoLegale">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="60" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="CapLegale" type="Cap" />
                    <xs:element name="TelefonoLegale" nillable="true" type="Telefono" />
                    <xs:element name="FaxLegale" nillable="true" type="Telefono" />
                    <xs:element name="EmailLegale" nillable="true" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Movimento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ChiaveMovimento" type="xs:unsignedLong" />
                    <xs:element name="TipoMovimento" type="TipoMOV" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DataInizioAvviamento" nillable="true" type="xs:date" />
                    <xs:element name="DataInizio" type="xs:date" />
                    <xs:element name="DataFine" nillable="true" type="xs:date" />
                    <xs:choice minOccurs="0" maxOccurs="1">
                      <xs:sequence>
                        <xs:element name="CodTipoTrasformazione" type="CodificaGenerica" />
                        <xs:element name="DescTipoTrasformazione" type="Stringa100" />
                        <xs:element minOccurs="0" name="DataFineDistacco" nillable="true" type="xs:date" />
                        <xs:element minOccurs="0" name="FlagDistaccoParziale" nillable="true" type="Flag" />
                        <xs:element minOccurs="0" name="FlagDistaccoAzEstero" type="Flag" />
                        <xs:element minOccurs="0" name="DatiAziendaDistaccaria">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="CodiceFiscale" type="CodiceFiscale" />
                              <xs:element name="RagioneSociale" type="Stringa100" />
                              <xs:element name="CodComuneSede" type="Comune" />
                              <xs:element name="ComuneSede" type="Stringa100" />
                              <xs:element name="TargaSede" type="Targa" />
                              <xs:element name="Indirizzo">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="60" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="Cap" type="Cap" />
                              <xs:element name="CodAteco" type="Settore" />
                              <xs:element name="Telefono" nillable="true" type="Telefono" />
                              <xs:element name="Fax" nillable="true" type="Telefono" />
                              <xs:element name="Email" nillable="true" type="EMail" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:sequence>
                        <xs:element name="CodMotivoCessazione" type="CodificaGenerica" />
                        <xs:element name="DescrizioneMotivoCessazione" type="Stringa100" />
                      </xs:sequence>
                    </xs:choice>
                    <xs:element name="CodLivelloIstruzione" nillable="true">
                      <xs:simpleType>
                        <xs:restriction base="CodificaGenerica">
                          <xs:maxLength value="8" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="CodTipoContratto" type="CodificaGenerica" />
                    <xs:element name="DescTipoContratto" type="Stringa100" />
                    <xs:element name="CodQualificaProf" type="CodificaGenerica" />
                    <xs:element name="CodCCNL" type="CodificaGenerica" />
                    <xs:element name="CodOrario" type="CodificaGenerica" />
                    <xs:element name="NumOrePartTime" nillable="true" type="int-or-empty" />
                    <xs:element name="RedditoSanato" type="Si-No" />
                    <xs:element name="RetribuzioneMensile" nillable="true" type="decimal-or-empty" />
                    <xs:element name="Livello" nillable="true" type="xs:string" />
                    <xs:element name="FlagLegge68" nillable="true" type="Flag" />
                    <xs:element name="DatConvenzioneNullaOstaLegge68" nillable="true" type="xs:date" />
                    <xs:element name="NumConvenzioneLegge68" nillable="true" type="xs:string" />
                    <xs:element name="FlagSocio" nillable="true" type="Flag" />
                    <xs:element name="CodEnte" type="CodificaGenerica" />
                    <xs:element name="CodEntePrev">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PatINAL" type="xs:string" />
                    <xs:element name="FlagLavoroAgricoltura" type="Flag" />
                    <xs:element name="GiornatePrevisteLavoroAgricoltura" nillable="true" type="int-or-empty" />
                    <xs:element name="TipoLavAgricoltura" type="xs:string" />
                    <xs:element name="PubblicaAmministrazione" type="Si-No" />
                    <xs:element name="DatiLegaleRappresentante">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Cognome" nillable="true" type="Stringa50" />
                          <xs:element name="Nome" nillable="true" type="Stringa50" />
                          <xs:element name="Sesso" nillable="true" type="Sesso" />
                          <xs:element name="DataNascita" nillable="true" type="xs:date" />
                          <xs:element name="Comune" nillable="true" type="Comune" />
                          <xs:element name="Cittadinanza" nillable="true" type="Cittadinanza" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NumTitoloSoggiorno" nillable="true" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="TitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                          <xs:element minOccurs="0" maxOccurs="1" name="MotTitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ScadenzaTitoloSoggiorno" nillable="true" type="xs:date" />
                          <xs:element minOccurs="0" maxOccurs="1" name="QuesturaTitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Tirocinio">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CodiceQualificaSRQ" type="CodificaGenerica" />
                          <xs:element name="DescQualificaSRQ" type="Stringa100" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TitoloSoggiorno">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                          <xs:element name="NumTitoloSoggiorno" nillable="true" type="xs:string" />
                          <xs:element name="MotTitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                          <xs:element name="ScadenzaTitoloSoggiorno" nillable="true" type="xs:date" />
                          <xs:element name="QuesturaTitoloSoggiorno" nillable="true" type="CodificaGenerica" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ModelloQ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SussistenzaAlloggiativa" nillable="true" type="xs:string" />
                          <xs:element name="ImpegnoSpeseRimp" nillable="true" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ChiaveMovPrec" type="ULong-or-empty" />
                    <xs:element name="ChiaveMovSucc" type="ULong-or-empty" />
                    <xs:element name="CodLock" type="xs:long" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Somministrazione">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NumContrattoSomm" nillable="true" type="xs:string" />
                          <xs:element name="DataInizioSomm" nillable="true" type="xs:date" />
                          <xs:element name="FlagDittaEstOperaItalia" nillable="true" type="Flag" />
                          <xs:element name="FlagAziendaEst" nillable="true" type="Flag" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa50">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Comune">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}\d{3}" />
      <xs:pattern value="[0]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Targa">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Sesso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
      <xs:enumeration value="" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Cittadinanza">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Cap">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Settore">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Telefono">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EMail">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodificaGenerica">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Flag">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Si-No">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoMOV">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVV" />
      <xs:enumeration value="PRO" />
      <xs:enumeration value="TRA" />
      <xs:enumeration value="CES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal-or-empty">
    <xs:union memberTypes="xs:decimal empty-string" />
  </xs:simpleType>
  <xs:simpleType name="int-or-empty">
    <xs:union memberTypes="xs:int empty-string" />
  </xs:simpleType>
  <xs:simpleType name="ULong-or-empty">
    <xs:union memberTypes="xs:unsignedLong empty-string" />
  </xs:simpleType>
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>