sil/sil-war/src/main/webapp/WEB-INF/xsd/ultimoMovimento/movimenti_in.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UltimoPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodiceFiscale" type="CodiceFiscale" />
        <xs:element name="IdProvincia">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>