sil/sil-war/src/main/webapp/WEB-INF/xsd/tabellaDecodifica/inputXML_GetTabelleDecodifica.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TabelleDecodifica">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NomeTabella" />
        <xs:element ref="IdProvincia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa40">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NomeTabella" type="Stringa40" />
  <xs:element name="IdProvincia" type="xs:integer" />
</xs:schema>