sil/sil-war/src/main/webapp/WEB-INF/xsd/tabellaDecodifica/outputXML_GetTabelleDecodifica.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/xmlschema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="risposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Esito">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="codice">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="descrizione">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="DeTipoContratto">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codtipocontratto">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="200" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeCcnl">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codccnl">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="2000" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeMansione">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codmansione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="7" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="300" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                      <xs:element name="codmansionedot">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="12" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeOrario">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codorario">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeMvCessazione">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codmvcessazione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeQuestura">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codquestura">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="9" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="300" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeStatusStraniero">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codstatus">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeExMotivoRil">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codmotivoril">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="5" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeCittadinanza">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codcittadinanza">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strnazione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="100" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="flgcee">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="S" />
                            <xs:enumeration value="N" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DeAttivita">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="element">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="codateco">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="codatecodot">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="10" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="strdescrizione">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="300" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="datinizioval" type="xs:date" />
                      <xs:element name="datfineval" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="schemaversion" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>