sil/sil-war/src/main/webapp/WEB-INF/xsd/mobOrdinaria/comunicazioneMBOIndividuale.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mbo="http://regione.emilia-romagna.it/sare/mbo/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://regione.emilia-romagna.it/sare/mbo/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:simpleType name="Si-No">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S-N">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
			<xs:pattern value="[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMail">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
			<xs:pattern value="([A-Za-z0-9!#-&apos;\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-&apos;\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-&apos;\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-&apos;\*\+\-/=\?\^_`\{-~]+)*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Cap">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Comune">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}\d{3}"/>
			<xs:pattern value="[0]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ateco">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ccnl">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="matricolaINPSType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualificazioneType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="codiceComunicazioneType">
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoMobilitaType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="tipologiaAziendaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUT"/>
			<xs:enumeration value="AGR"/>
			<xs:enumeration value="INT"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="AZI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codAzStatoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="NT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoComunicazioneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndirizzoType">
		<xs:sequence>
			<xs:element name="indirizzo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comune" type="mbo:Comune"/>
			<xs:element name="cap" type="mbo:Cap"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecapitiType">
		<xs:sequence>
			<xs:element name="telefono" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{0,20}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fax" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{0,20}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="e-mail" type="mbo:EMail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organicoInForzaType">
		<xs:attribute name="uomini" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{1,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="donne" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{1,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="totale" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{1,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LavoratoreType">
		<xs:sequence>
			<xs:element name="Indirizzi" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="domicilio" type="mbo:IndirizzoType"/>
						<xs:element name="residenza" type="mbo:IndirizzoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Recapiti">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cellulare" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{0,20}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="telefono" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{0,20}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="datiIndividualiMobilita">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rapportoLavoro">
							<xs:complexType>
								<xs:attribute name="dataAssunzione" type="xs:date" use="required"/>
								<xs:attribute name="categoria" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string"/>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="tipoContratto" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="AP"/>
											<xs:enumeration value="LP"/>
											<xs:enumeration value="NT"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="ccnl" type="mbo:Ccnl"/>
								<xs:attribute name="qualifica" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="12"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="dataLicenziamento" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="codiceFiscale" type="mbo:CodiceFiscale" use="required"/>
		<xs:attribute name="cognome" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nome" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sesso" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="M"/>
					<xs:enumeration value="F"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dataNascita" type="xs:date" use="required"/>
		<xs:attribute name="comuneNascita" type="mbo:Comune" use="required"/>
		<xs:attribute name="cittadinanza" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SedeType">
		<xs:attribute name="denominazioneSede"/>
		<xs:attribute name="matricolaINPS" type="mbo:matricolaINPSType"/>
		<xs:attribute name="settore" type="mbo:Ateco" use="required"/>
		<xs:attribute name="ccnlApplicato" type="mbo:Ccnl"/>
		<xs:attribute name="codAzStato" type="mbo:codAzStatoType" use="required"/>
	</xs:complexType>
	<xs:complexType name="SedeConLavoratoriType">
		<xs:complexContent>
			<xs:extension base="mbo:SedeType">
				<xs:sequence>
					<xs:element name="IndirizzoCompleto" type="mbo:IndirizzoType"/>
					<xs:element name="Recapiti" type="mbo:RecapitiType"/>
					<xs:element name="Lavoratore" type="mbo:LavoratoreType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DomandaMBO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datiGeneraliMobilita">
					<xs:complexType>
						<xs:attribute name="tipoIscrMbo" type="mbo:tipoMobilitaType" use="required"/>
						<xs:attribute name="dataInizioIscrMbo" type="xs:date" use="required"/>
						<xs:attribute name="dataFineIscrMbo" type="xs:date" use="required"/>
						<xs:attribute name="dataMaxDiffIscrMbo" type="xs:date"/>
						<xs:attribute name="flgCasoDubbio" type="mbo:S-N" use="optional"/>
						<xs:attribute name="motivoCasoDubbio" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Azienda">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sede" type="mbo:SedeConLavoratoriType"/>
						</xs:sequence>
						<xs:attribute name="qualificazione" type="mbo:qualificazioneType" use="required"/>
						<xs:attribute name="codiceFiscale" type="mbo:CodiceFiscale" use="required"/>
						<xs:attribute name="ragioneSociale" type="xs:string" use="required"/>
						<xs:attribute name="tipologiaAzienda" type="mbo:tipologiaAziendaType" use="required"/>
						<xs:attribute name="nonImprenditore" type="mbo:Si-No" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="tipoComunicazione" type="mbo:tipoComunicazioneType" use="required"/>
			<xs:attribute name="codiceComunicazione" type="mbo:codiceComunicazioneType" use="required"/>
			<xs:attribute name="statoDomanda" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="A"/>
						<xs:enumeration value="I"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataInvio" type="xs:date" use="required"/>
			<xs:attribute name="schemaVersion" type="xs:integer" use="required" fixed="1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
