sil/sil-war/src/main/webapp/WEB-INF/xsd/MadreperlaXsd/getContratti_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.satanet.it/Madreperla-SIL" xmlns:Q1="contratti" targetNamespace="http://www.satanet.it/Madreperla-SIL">
	<xsd:element name="getContratti_input" type="tns:getContratti_inputType"/>
	<xsd:complexType name="getContratti_inputType">
		<xsd:sequence>
			<xsd:element name="anno" type="xsd:string" nillable="false"/>
			<xsd:element name="protocollo" type="xsd:string" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>