myportal/src/main/resources/xsd/autenticazione/checkUtente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Utente">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="username"/>
        <xs:element ref="password"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa2Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="username" type="Stringa2Obbl" />
  <xs:element name="password" type="Stringa2Obbl" />
</xs:schema>
