myportal/src/main/resources/wsdl/TrasmettiPatto_1versione.wsdl

<wsdl:definitions
	targetNamespace="http://pattoonlinenew.webservices.coop.sil.eng.it"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://pattoonlinenew.webservices.coop.sil.eng.it"
	xmlns:intf="http://pattoonlinenew.webservices.coop.sil.eng.it"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.3 Built on Oct 05, 2005 (05:23:37 
		EDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://pattoonlinenew.webservices.coop.sil.eng.it"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="accettazionePattoType">
				<sequence>
					<element name="dtmAccettazione" nillable="true"
						type="xsd:dateTime" />
					<element name="tipoAccettazione" nillable="true">
						<simpleType>
							<restriction base="xsd:string">
								<enumeration value="OTP" />
								<enumeration value="SPID" />
								<enumeration value="CIE" />
								<enumeration value="RV" />
								<enumeration value="SMS" />
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</complexType>
			<complexType name="pattoType">
				<sequence>
					<element name="codiceFiscale" nillable="true"
						type="xsd:string" />
					<element name="dataPatto" nillable="true"
						type="xsd:dateTime" />
					<element name="codServiziAmministrativi" nillable="true"
						type="xsd:string" />
					<element name="numProtocollo" nillable="true"
						type="xsd:string" />
					<element name="annoProtocollo" nillable="true"
						type="xsd:integer" />
					<element name="codProvinciaProv" nillable="true"
						type="xsd:string" />
				</sequence>
			</complexType>
			<element name="pattoAccettatoType">
				<complexType>
					<sequence>
						<element name="accettazionePatto" nillable="true"
							type="impl:accettazionePattoType" />
						<element name="patto" nillable="true"
							type="impl:pattoType" />
					</sequence>
				</complexType>
			</element>
			<element name="esitoType">
				<complexType>
					<sequence>
						<element name="esito" nillable="true">
							<simpleType>
								<restriction base="xsd:string">
									<enumeration value="OK" />
									<enumeration value="KO" />
								</restriction>
							</simpleType>
						</element>
						<element name="descrizione" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="aggiornaPattoResponse">
		<wsdl:part element="impl:esitoType" name="esitoType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="aggiornaPattoRequest">
		<wsdl:part element="impl:pattoAccettatoType"
			name="pattoAccettatoType"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TrasmettiPatto">
		<wsdl:operation name="aggiornaPatto"
			parameterOrder="pattoAccettatoType">
			<wsdl:input message="impl:aggiornaPattoRequest"
				name="aggiornaPattoRequest"></wsdl:input>
			<wsdl:output message="impl:aggiornaPattoResponse"
				name="aggiornaPattoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TrasmettiPattoSoapBinding"
		type="impl:TrasmettiPatto">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="aggiornaPatto">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="aggiornaPattoRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aggiornaPattoResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TrasmettiPattoService">
		<wsdl:port binding="impl:TrasmettiPattoSoapBinding"
			name="TrasmettiPatto">
			<wsdlsoap:address
				location="http://diana.bo.eng.it/sil/services/TrasmettiPatto" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>