myportal/src/main/resources/xsd/servizi_cittadino/inputXML_getAccountCittadino.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountCittadino">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cognome">
          <xs:simpleType>
            <xs:restriction base="Stringa">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nome">
          <xs:simpleType>
            <xs:restriction base="Stringa">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="codiceFiscale" type="CodiceFiscale" />
        <xs:element minOccurs="0" name="email" type="EMail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EMail">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
      <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>