myportal/src/main/resources/xsd/servizi_cittadino/inputXML_getDettaglioCittadino.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DettaglioCittadino">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idPfPrincipal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>