sil/sil-war/src/main/webapp/WEB-INF/xsd/siaper/ComunicazioneSiaper.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:co="http://servizi.lavoro.gov.it" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servizi.lavoro.gov.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Stringa">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Sesso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Cap">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EMail">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
      <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringaXLunga">
    <xs:restriction base="co:Stringa">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Si-No">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SI" />
      <xs:enumeration value="NO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Comune">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}\d{3}" />
      <xs:pattern value="[0]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Settore">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}\.\d{2}\.\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LivelloIstruzione">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QualificaProfessionale">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]\.){5}[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Telefono">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="Recapiti">
    <xs:sequence>
      <xs:element minOccurs="0" name="e-mail" type="co:EMail" />
      <xs:element minOccurs="0" name="telefono" type="co:Telefono" />
      <xs:element minOccurs="0" name="fax" type="co:Telefono" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="IndirizzoConRecapitiItaliano">
	<xs:complexContent mixed="false">
      <xs:extension base="co:IndirizzoItaliano">
        <xs:group ref="co:Recapiti" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndirizzoItaliano">
    <xs:sequence>
      <xs:element name="Comune" type="co:Comune" />
      <xs:element name="cap" type="co:Cap" />
      <xs:element name="Indirizzo" type="co:StringaXLunga" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Anagrafica">
    <xs:sequence>
      <xs:element name="cognome">
        <xs:simpleType>
          <xs:restriction base="co:Stringa">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nome">
        <xs:simpleType>
          <xs:restriction base="co:Stringa">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codice-fiscale" type="co:CodiceFiscale" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnagraficaCompleta">
    <xs:complexContent mixed="false">
      <xs:extension base="co:Anagrafica">
        <xs:sequence>
          <xs:element name="sesso" type="co:Sesso" />
          <xs:element name="nascita">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="comune" type="co:Comune" />
                <xs:element name="data" type="xs:date" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
		  <xs:element name="cittadinanza">
			<xs:simpleType>
			  <xs:restriction base="co:Stringa">
				<xs:maxLength value="100" />
			  </xs:restriction>
			</xs:simpleType>
		  </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatoreAnagrafica">
    <xs:sequence>
      <xs:element name="cognome">
        <xs:simpleType>
          <xs:restriction base="co:Stringa">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nome">
        <xs:simpleType>
          <xs:restriction base="co:Stringa">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatoreAnagraficaCompleta">
    <xs:complexContent mixed="false">
      <xs:extension base="co:DatoreAnagrafica">
        <xs:sequence>
          <xs:element name="sesso" type="co:Sesso" />
          <xs:element name="nascita">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="comune" type="co:Comune" />
                <xs:element name="data" type="xs:date" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatiLavoratore">
    <xs:sequence>
      <xs:element name="AnagraficaCompleta" type="co:AnagraficaCompleta" />
      <xs:element name="IndirizzoLavoratore" type="co:IndirizzoItaliano" />
      <xs:element name="LivelloIstruzione" type="co:LivelloIstruzione" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TipoOrario">
    <xs:attribute name="codice" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-Z]{1}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="oreSettimanaliMedie">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{1,2}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Missione">
    <xs:sequence>
      <xs:element name="qualificaProfessionale" type="co:QualificaProfessionale" />
      <xs:element name="tipoOrario" type="co:TipoOrario" />
    </xs:sequence>
    <xs:attribute name="dataInizioMissione" type="xs:date" use="required" />
    <xs:attribute name="dataFineMissione" type="xs:date" use="optional" />
  </xs:complexType>
  <xs:complexType name="DatoreSede">
    <xs:sequence>
      <xs:element name="Sede" type="co:IndirizzoConRecapitiItaliano" />
    </xs:sequence>
    <xs:attribute name="codiceFiscale" use="required">
      <xs:simpleType>
        <xs:restriction base="co:CodiceFiscale" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denominazione" type="co:StringaXLunga" use="required" />
  </xs:complexType>
  <xs:complexType name="DatoreSedePrecedente">
    <xs:sequence>
      <xs:element name="Sede" type="co:IndirizzoConRecapitiItaliano" />
      <xs:element name="Settore" type="co:Settore" />
    </xs:sequence>
    <xs:attribute name="codiceFiscale" use="required">
      <xs:simpleType>
        <xs:restriction base="co:CodiceFiscale" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denominazione" type="co:StringaXLunga" use="required" />
  </xs:complexType>
  <xs:complexType name="DatoreSedi">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatoreAnagraficaCompleta" type="co:DatoreAnagraficaCompleta" />
      <xs:element name="SedeLegale" type="co:IndirizzoConRecapitiItaliano" />
      <xs:element name="SedeLavoro" type="co:IndirizzoConRecapitiItaliano" />
    </xs:sequence>
    <xs:attribute name="codiceFiscale" use="required">
      <xs:simpleType>
        <xs:restriction base="co:CodiceFiscale" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denominazione" type="co:StringaXLunga" use="required" />
  </xs:complexType>
  <xs:complexType name="Contratto">
    <xs:sequence>
      <xs:element name="qualificaProfessionale" type="co:QualificaProfessionale" />
      <xs:element name="tipoOrario" type="co:TipoOrario" />
    </xs:sequence>
    <xs:attribute name="lavInMobilita" type="co:Si-No" use="required" />
    <xs:attribute name="lavoroStagionale" type="co:Si-No" use="required" />
    <xs:attribute name="dataInizio" type="xs:date" use="required" />
    <xs:attribute name="dataFine" type="xs:date" use="optional" />
    <xs:attribute name="dataFinePF" type="xs:date" use="optional" />
    <xs:attribute name="TipologiaContrattuale" use="required">
      <xs:simpleType>
        <xs:restriction base="co:Stringa">
          <xs:pattern value="[A-Z]{1}(\.[0-9]{2}){2}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Proroga">
    <xs:sequence>
      <xs:element name="Contratto">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="co:Contratto" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Trasformazione">
    <xs:sequence>
      <xs:element name="Contratto" type="co:Contratto" />
      <xs:element minOccurs="0" name="DatoreLavoroPrec" type="co:DatoreSedePrecedente" />
    </xs:sequence>
    <xs:attribute name="codiceTrasformazione" use="required">
      <xs:simpleType>
        <xs:restriction base="co:Stringa">
          <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Cessazione">
    <xs:sequence>
      <xs:element name="Contratto" type="co:Contratto" />
    </xs:sequence>
    <xs:attribute name="codiceCausa" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RapportoLavoro">
    <xs:sequence>
      <xs:element name="DatoreLavoro">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="co:DatoreSedi">
              <xs:sequence>
                <xs:element name="Settore" type="co:Settore" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Lavoratore" type="co:DatiLavoratore" />
      <xs:element minOccurs="0" name="DittaUtilizzatrice">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="co:DatoreSedi">
              <xs:sequence>
                <xs:element name="Settore" type="co:Settore" />
                <xs:element name="InizioContratto">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Inizio" type="co:Missione" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="InizioRapporto">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="co:Contratto" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Proroga" type="co:Proroga" />
        <xs:element name="Trasformazione">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="co:Trasformazione" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cessazione" type="co:Cessazione" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="codiceComunicazione" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="16" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
	<xs:attribute name="codiceComunicazionePrec" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="16" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="tipoTracciato" type="xs:string" use="required" />
    <xs:attribute name="tipoMovimento" type="xs:string" use="required" />
	<xs:attribute name="dataInvio" type="xs:date" use="required" />
	<xs:attribute name="delegato" type="xs:string" use="optional" />
	<xs:attribute name="e-mailDelegato" type="co:EMail" use="optional" />
  </xs:complexType>
  <xs:element name="Comunicazione">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="co:RapportoLavoro" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>