sil/sil-war/src/main/webapp/WEB-INF/xsd/rendicontazione/rendicontazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://formazione.regione.calabria.it/WebService/Formazione/Partecipanti"
        xmlns:tns="https://formazione.regione.calabria.it/WebService/Formazione/Partecipanti"        
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        version="5.0">

   <xsd:simpleType name="codice_fiscale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Z]{6}[\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{3}[A-Z])|(\d{11})"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codice_provincia_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codice_catastale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sesso_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="F|M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="date_type">
        <xsd:restriction base="xsd:date">
            <xsd:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datetime_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) \d{2}:\d{2}:\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="codice_istat_nazione_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="cap_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="email_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
            <xsd:maxLength value= "80"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="si_no_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="S|N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="anno_type">
        <xsd:restriction base="xsd:gYear">
            <xsd:pattern value="\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="titolo_studio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{8}"/>
            <xsd:pattern value="NT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="permesso_carta_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9]{1,8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="permesso_carta_motivo_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}|[A-Z]{4}[1-9]|[A-Z]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stato_occupazionale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\d{0,3}"/>
            <xsd:pattern value="NT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cpi_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="misura_type">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:pattern value="\d{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ateco_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}\.\d{2}\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mansioni_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[1-9]\.[1-9]\.[1-9]\.[1-9]\.\d\.\d{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipo_contratto_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\.\d{2}\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="modalita_lavoro_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="soggetto_promotore_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="categoria_tirocinio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipologia_tirocinio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="qualifica_srq_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\S[\S| ]*\S|\S"/>
            <xsd:maxLength value= "512"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_1_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_3_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_5_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_8_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "8"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="varchar_11_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="varchar_12_type">
    <xsd:restriction base="tns:varchar_type">
      <xsd:maxLength value="12" />
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="varchar_15_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_16_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_20_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_30_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_40_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "40"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_60_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_150_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "150"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_200_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_300_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "300"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_500_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "500"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="int_type">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:totalDigits value="11"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:element name="Formazione">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="partecipante">
                    <xsd:complexType>
                        <xsd:sequence>
							  <xsd:element name="cdnlavoratore" type="tns:int_type" />
                              <xsd:element name="codice_fiscale" type="tns:codice_fiscale_type" />
							  <xsd:element name="validita_cf" type="tns:si_no_type" />
							  <xsd:element name="codice_fiscale_originale" minOccurs="0" type="tns:codice_fiscale_type" />
							  <xsd:element name="codice_provincia" type="tns:codice_provincia_type" />
							  <xsd:element name="cognome" type="tns:varchar_40_type" />
							  <xsd:element name="nome" type="tns:varchar_40_type" />
							  <xsd:element name="sesso" type="tns:sesso_type" />
							  <xsd:element name="nascita_data" type="tns:date_type" />
							  <xsd:element name="nascita_codice_catastale" type="tns:codice_catastale_type" />
							  <xsd:element name="cittadinanza" type="tns:codice_istat_nazione_type" />
							  <xsd:element name="recapito_telefonico" minOccurs="0" type="tns:varchar_20_type" />
							  <xsd:element name="email" minOccurs="0" type="tns:email_type" />
							  <xsd:element name="residenza_codice_catastale" type="tns:codice_catastale_type" />
							  <xsd:element name="residenza_indirizzo" type="tns:varchar_60_type" />
							  <xsd:element name="residenza_cap" type="tns:cap_type" />
							  <xsd:element name="domicilio_codice_catastale" type="tns:codice_catastale_type" />
							  <xsd:element name="domicilio_indirizzo" type="tns:varchar_60_type" />
							  <xsd:element name="domicilio_cap" type="tns:cap_type" />
							  <xsd:element name="dt_mod_anagrafica" type="tns:date_type" />		  
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="patti">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="profiling_patto" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="prgpatto" type="tns:int_type" />
                                        <xsd:element name="prgprogramma" type="tns:int_type" minOccurs="0"/>
										<xsd:element name="indice_svantaggio" type="tns:int_type" minOccurs="0"/>
                                        <xsd:element name="indice_svantaggio_vecchio" type="tns:int_type" minOccurs="0"/>
                                        <xsd:element name="indice_data_riferimento" type="tns:date_type" minOccurs="0"/>
                                        <xsd:element name="adesione_gg_data" minOccurs="0" type="tns:date_type"/>
										<xsd:element name="profiling_150" minOccurs="0" type="tns:int_type" />
										<xsd:element name="data_riferimento_150" minOccurs="0" type="tns:date_type" />
                                        <xsd:element name="patto_data" type="tns:date_type"/>
										<xsd:element name="pattoInclusioneAttiva" type="tns:si_no_type"/>
										<xsd:element name="pattoDote" type="tns:si_no_type"/>
										<xsd:element name="pattoGG" type="tns:si_no_type"/>
										<xsd:element name="idDomandaDote" minOccurs="0" type="tns:varchar_40_type"/>
                                        <xsd:element name="patto_numero_protocollo" type="tns:int_type"/>
                                        <xsd:element name="stato_occupazionale" type="tns:stato_occupazionale_type" minOccurs="0"/>
                                        <xsd:element name="patto_cpi" type="tns:cpi_type"/>
                                        <xsd:element name="data_chiusura_patto" type="tns:date_type" minOccurs="0"/>
										<xsd:element name="data_chiusura_programma" type="tns:date_type" minOccurs="0"/>
                                        <xsd:element name="motivo_chiusura_patto" type="tns:varchar_500_type" minOccurs="0"/>
										<xsd:element name="tipo_misura_patto" type="tns:varchar_8_type"/>
										<xsd:element name="data_scadenza_patto" type="tns:date_type" minOccurs="0"/>
										<xsd:element name="data_stipula_did" type="tns:date_type" minOccurs="0"/>										
										<xsd:element name="cf_soggetto_promotore" type="tns:varchar_16_type" minOccurs="0"/>
										<xsd:element name="piva_soggetto_promotore" type="tns:varchar_11_type" minOccurs="0"/>
										<xsd:element name="dt_mod_patto" type="tns:date_type" />
										<xsd:element name="PoliticheAttive">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PoliticaAttiva" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>															    
                                                                <xsd:element name="prgPercorso" type="tns:int_type"/>
                                                                <xsd:element name="prgColloquio" type="tns:int_type"/>
																<xsd:element name="codazioneformcal" type="tns:varchar_8_type" />	
																<xsd:element name="dataColloquio" type="tns:date_type"/>																                                                            
																<xsd:element name="m5_numero_protocollo" minOccurs="0" type="tns:int_type"/>                                                                
                                                                <xsd:element name="dataStimataFineAttivita" type="tns:date_type" minOccurs="0"/>
                                                                <xsd:element name="dataAvvioAttivita" type="tns:date_type" minOccurs="0"/>
                                                                <xsd:element name="dataFineAttivita" type="tns:date_type" minOccurs="0"/>
                                                                <xsd:element name="durataMinima" type="tns:int_type" minOccurs="0"/>
                                                                <xsd:element name="durataMassima" type="tns:int_type" minOccurs="0"/>
																<xsd:element name="durataEffettiva" type="tns:int_type" minOccurs="0"/>
                                                                <xsd:element name="tipologiaDurata" type="tns:varchar_1_type" minOccurs="0"/>
                                                                <xsd:element name="esito" type="tns:varchar_8_type"/>												
																<xsd:element name="dt_mod_politica" type="tns:date_type" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="comunicazioni_obbligatorie">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="comunicazione_obbligatoria" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="prgMovimentoSil" type="tns:int_type"/>
                                        <xsd:element name="prgMovimentoSilPrec" type="tns:int_type" minOccurs="0"/>
										<xsd:element name="prgMovimentoSilSucc" type="tns:int_type" minOccurs="0"/>
										<xsd:element name="prgMovimentoSilRett" type="tns:int_type" minOccurs="0"/>
                                        <xsd:element name="codice_comunicazione_avviamento" type="tns:varchar_20_type" minOccurs="0"/>
										<xsd:element name="tipo_movimento" type="tns:varchar_8_type" minOccurs="1"/>
										<xsd:element name="stato_movimento" type="tns:varchar_8_type" minOccurs="1"/>
                                        <xsd:element name="datore_lavoro_codice_fiscale" type="tns:codice_fiscale_type" minOccurs="0"/>
                                        <xsd:element name="datore_lavoro_denominazione" type="tns:varchar_150_type" minOccurs="0"/>
                                        <xsd:element name="datore_lavoro_indirizzo" type="tns:varchar_200_type" minOccurs="0"/>
                                        <xsd:element name="datore_lavoro_settore" type="tns:ateco_type" minOccurs="0"/>
                                        <xsd:element name="utilizzatore_codice_fiscale" type="tns:codice_fiscale_type" minOccurs="0"/>
                                        <xsd:element name="utilizzatore_denominazione" type="tns:varchar_150_type" minOccurs="0"/>
                                        <xsd:element name="utilizzatore_indirizzo" type="tns:varchar_200_type" minOccurs="0"/>
                                        <xsd:element name="utilizzatore_settore" type="tns:ateco_type" minOccurs="0"/>
                                        <xsd:element name="data_inizio" type="tns:date_type" minOccurs="0"/>
                                        <xsd:element name="data_fine" type="tns:date_type" minOccurs="0"/>
                                        <xsd:element name="data_fine_periodo_formativo" type="tns:date_type" minOccurs="0"/>
                                        <xsd:element name="qualifica_professionale" type="tns:mansioni_type" minOccurs="0"/>
                                        <xsd:element name="mansioni" type="tns:varchar_300_type" minOccurs="0"/>
                                        <xsd:element name="tipo_contratto" type="tns:tipo_contratto_type" minOccurs="0"/>
                                        <xsd:element name="flag_stagionale" type="tns:si_no_type" minOccurs="0"/>
                                        <xsd:element name="flag_agricoltura" type="tns:si_no_type" minOccurs="0"/>
                                        <xsd:element name="modalita_lavoro" type="tns:modalita_lavoro_type" minOccurs="0"/>
                                        <xsd:element name="sede_lavoro_indirizzo" type="tns:varchar_200_type" minOccurs="0"/>
                                        <xsd:element name="sede_lavoro_codice_catastale" type="tns:codice_catastale_type" minOccurs="0"/>
                                        <xsd:element name="tipologia_soggetto_promotore" type="tns:soggetto_promotore_type" minOccurs="0"/>
                                        <xsd:element name="tirocinio_categoria" type="tns:categoria_tirocinio_type" minOccurs="0"/>
                                        <xsd:element name="tirocinio_tipologia" type="tns:tipologia_tirocinio_type" minOccurs="0"/>
                                        <xsd:element name="tutore_codice_fiscale" type="tns:codice_fiscale_type" minOccurs="0"/>
                                        <xsd:element name="tutore_cognome" type="tns:varchar_40_type" minOccurs="0"/>
                                        <xsd:element name="tutore_nome" type="tns:varchar_40_type" minOccurs="0"/>
                                        <xsd:element name="qualifica_srq" type="tns:qualifica_srq_type" minOccurs="0"/>
                                        <xsd:element name="convenzione_numero" type="tns:varchar_30_type" minOccurs="0"/>
                                        <xsd:element name="convenzione_data" type="tns:datetime_type" minOccurs="0"/>
                                        <xsd:element name="data_invio_co" type="tns:datetime_type" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>