sil/sil-war/src/main/webapp/WEB-INF/xsd/agenda/appuntamento/annulla/InputAnnullaApp.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AnnullaApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codiceFiscale" type="CodiceFiscale" />
        <xs:element name="UtenteServizio">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="1" />
              <xs:enumeration value="L" />
              <xs:enumeration value="A" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="datiAppuntamento">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codiceRichiesta">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="8" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="dataAppuntamento" type="xs:date" />
              <xs:element name="oraAppuntamento">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="5" />
                    <xs:pattern value="[0-9]{2}:[0-9]{2}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IdCPI">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IdProvincia" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="IdAppuntamento" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>