sil/sil-war/src/main/webapp/WEB-INF/xsd/nuovoRedditoAttivazione/Collaborazione_NRA_PAT_INPSCommon.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.inps.it/comunicazioniAsdiNraCommon/0.0.1" elementFormDefault="qualified" targetNamespace="http://www.inps.it/comunicazioniAsdiNraCommon/0.0.1" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="datiRichiedenteType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="nome" type="tns:string100charMaxType" />
      <element minOccurs="1" maxOccurs="1" name="cognome" type="tns:string100charMaxType" />
      <element minOccurs="1" maxOccurs="1" name="codiceFiscale" type="tns:codiceFiscalePfType" />
      <element minOccurs="1" maxOccurs="1" name="dataNascita" type="date" />
      <element minOccurs="1" maxOccurs="1" name="codiceCatastoNascita" type="tns:belfioreType" />
    </sequence>
  </complexType>
  <simpleType name="string100charMaxType">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="codiceFiscalePfType">
    <restriction base="string">
      <length value="16" />
      <pattern value="[A-Za-z]{6}[0-9LMNPQRSTUVlmnpqrstuv]{2}[A-Za-z][0-9LMNPQRSTUVlmnpqrstuv]{2}[A-Za-z][0-9LMNPQRSTUVlmnpqrstuv]{3}[A-Za-z]" />
    </restriction>
  </simpleType>
  <complexType name="indirizzoType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="indirizzo" type="string" />
      <element minOccurs="1" maxOccurs="1" name="cap" type="tns:capType" />
      <element minOccurs="1" maxOccurs="1" name="codiceComune" type="tns:belfioreType" />
      <element minOccurs="0" maxOccurs="1" name="codiceProvincia" type="tns:codiceProvinciaType" />
      <element minOccurs="0" maxOccurs="1" name="dataVariazioneResidenza" type="date" />
    </sequence>
  </complexType>
  <simpleType name="capType">
    <restriction base="string">
      <length value="5" />
      <pattern value="[0-9]{5}" />
    </restriction>
  </simpleType>
  <simpleType name="importoType">
    <restriction base="decimal">
      <fractionDigits value="2" />
      <totalDigits value="8" />
    </restriction>
  </simpleType>
  <simpleType name="identificativoComunicazioneType">
    <restriction base="string">
      <length value="17" />
      <pattern value="[2-9]{1}[0-9]{3}[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}[0-2]{1}[0-9]{1}[0-5]{1}[0-9]{1}[0-5]{1}[0-9]{4}" />
    </restriction>
  </simpleType>
  <group name="datiGenerici">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="dataCreazioneComunicazione" type="dateTime" />
      <element minOccurs="1" maxOccurs="1" name="identificativoComunicazione" type="tns:identificativoComunicazioneType" />
      <element minOccurs="1" maxOccurs="1" name="codiceOperatore" type="string" />
    </sequence>
  </group>
  <simpleType name="belfioreType">
    <restriction base="string">
      <length value="4" />
      <pattern value="[A-Za-z]{1}[0-9]{3}" />
    </restriction>
  </simpleType>
  <simpleType name="tipologiaEventoType">
    <restriction base="string">
      <enumeration value="DCR">
        <annotation>
          <documentation>Decurtazione</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSP">
        <annotation>
          <documentation>Sospensione</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DCD">
        <annotation>
          <documentation>Decadenza</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RZN">
        <annotation>
          <documentation>Reiezione</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="codiceProvinciaType">
    <restriction base="string">
      <pattern value="[A-Z]{2}" />
    </restriction>
  </simpleType>
  <simpleType name="tipoPrestazioneType">
    <restriction base="string">
      <enumeration value="NRA" />
    </restriction>
  </simpleType>
  <complexType name="esitoComunicazioneType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="codice" type="string" />
      <element minOccurs="1" maxOccurs="1" name="descrizione" type="string" />
      <element minOccurs="1" maxOccurs="1" name="categoria" type="tns:categoriaEsitoType" />
    </sequence>
  </complexType>
  <simpleType name="categoriaEsitoType">
    <restriction base="string">
      <enumeration value="OK" />
      <enumeration value="KO" />
    </restriction>
  </simpleType>
</schema>