sil/sil-war/src/main/webapp/WEB-INF/xsd/profiling/WS_ID_YG_Profiling_3.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="InformationDelivery_YG_Profiling" targetNamespace="http://mlps.gov.it/Services/InformationDelivery/YG_Profiling/1.3" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mlps.gov.it/DataModels/InformationDelivery/YG_Profiling/1.3" xmlns:WL5G3N2="http://mlps.gov.it/Services/InformationDelivery/YG_Profiling/1.3" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://mlps.gov.it/DataModels/InformationDelivery/YG_Profiling/1.3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mlps.gov.it/Services/InformationDelivery/YG_Profiling/1.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <import namespace="http://mlps.gov.it/DataModels/InformationDelivery/YG_Profiling/1.3" schemaLocation="XS_ID_YG_Profiling_1.3"/>
    </schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="insert_Input_msg">
    <WL5G3N0:part element="WL5G3N1:Insert_Input" name="insert_Input_msg"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="insert_Output_msg">
    <WL5G3N0:part element="WL5G3N1:YG_ProfilingCollection" name="insert_Output_msg"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="select_Input_msg">
    <WL5G3N0:part element="WL5G3N1:Select_Input" name="select_Input_msg"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="select_Output_msg">
    <WL5G3N0:part element="WL5G3N1:YG_ProfilingCollection" name="select_Output_msg"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="YG_Profiling_PortType">
    <WL5G3N0:operation name="insert">
      <WL5G3N0:input message="WL5G3N2:insert_Input_msg"/>
      <WL5G3N0:output message="WL5G3N2:insert_Output_msg"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="select">
      <WL5G3N0:input message="WL5G3N2:select_Input_msg"/>
      <WL5G3N0:output message="WL5G3N2:select_Output_msg"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="YG_Profiling_Binding" type="WL5G3N2:YG_Profiling_PortType">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="insert">
      <WL5G3N3:operation soapAction="http://mlps.gov.it/DataModels/InformationDelivery/YG_Profiling/1.3/insert"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="select">
      <WL5G3N3:operation soapAction="http://mlps.gov.it/DataModels/InformationDelivery/YG_Profiling/1.3/select"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="YG_Profiling_BindingQSService">
    <WL5G3N0:port binding="WL5G3N2:YG_Profiling_Binding" name="YG_Profiling_BindingQSPort">
      <WL5G3N3:address location="https://lavoropertetest.regione.emilia-romagna.it/MyPortalCas/service/statoadesione/get/ServizicoapWS?wsdl"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>