myportal/src/main/resources/xsd/cliclavoro/Rev.064 - CL - Allegato 4 - Ricerca personale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Versione XSD: Gennaio 2014 -->
<xs:schema xmlns:cliclavoro="http://servizi.lavoro.gov.it/vacancy" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servizi.lavoro.gov.it/vacancy" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Vacancy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:DatoreLavoro"/>
				<xs:element ref="cliclavoro:Richiesta"/>
				<xs:element ref="cliclavoro:AltreInformazioni"/>
				<xs:element ref="cliclavoro:DatiSistema"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatoreLavoro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:DatiAnagrafici"/>
				<xs:element ref="cliclavoro:DatiContatto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Richiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:ProfiloRichiesto"/>
				<xs:element ref="cliclavoro:IstruzioneFormazione"/>
				<xs:element ref="cliclavoro:CondizioniOfferte"/>
				<xs:element ref="cliclavoro:DurataRichiesta"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiAnagrafici">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:codicefiscale" minOccurs="0"/>
				<xs:element ref="cliclavoro:denominazione"/>
				<xs:element ref="cliclavoro:settore"/>
				<xs:element ref="cliclavoro:ampiezza" minOccurs="0"/>
				<xs:element ref="cliclavoro:web" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiContatto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:indirizzo" minOccurs="0"/>
				<xs:element ref="cliclavoro:idcomune"/>
				<xs:element ref="cliclavoro:cap" minOccurs="0"/>
				<xs:element ref="cliclavoro:telefono" minOccurs="0"/>
				<xs:element ref="cliclavoro:fax" minOccurs="0"/>
				<xs:element ref="cliclavoro:email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfiloRichiesto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:numerolavoratori"/>
				<xs:element ref="cliclavoro:idprofessione"/>
				<xs:element ref="cliclavoro:descrprofessione"/>
				<xs:element ref="cliclavoro:descrizionericerca"/>
				<xs:element ref="cliclavoro:esperienzarichiesta" minOccurs="0"/>
				<xs:element ref="cliclavoro:descrizioneesperienza" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstruzioneFormazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:titolostudio" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:idalbo" minOccurs="0"/>
				<xs:element ref="cliclavoro:Lingua" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:conoscenzeinformatiche" minOccurs="0"/>
				<xs:element ref="cliclavoro:altrecapacita" minOccurs="0"/>
				<xs:element ref="cliclavoro:trasferte" minOccurs="0"/>
				<xs:element ref="cliclavoro:idpatenteguida" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:idmezzitrasporto" minOccurs="0"/>
				<xs:element ref="cliclavoro:idpatentino" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:ulteriorirequisiti" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CondizioniOfferte">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idcomune"/>
				<xs:element ref="cliclavoro:idtipologiacontratto"/>
				<xs:element ref="cliclavoro:durata" minOccurs="0"/>
				<xs:element ref="cliclavoro:idccnl" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivellocontrattuale" minOccurs="0"/>
				<xs:element ref="cliclavoro:idmodalitalavoro" minOccurs="0"/>
				<xs:element ref="cliclavoro:retribuzioneannualorda" minOccurs="0"/>
				<xs:element ref="cliclavoro:ulterioricondizioni" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DurataRichiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:datapubblicazione"/>
				<xs:element ref="cliclavoro:datascadenza" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AltreInformazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:N.O."/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiSistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:intermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:codicefiscaleintermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:denominazioneintermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:indirizzo" minOccurs="0"/>
				<xs:element ref="cliclavoro:idcomune" minOccurs="0"/>
				<xs:element ref="cliclavoro:cap" minOccurs="0"/>
				<xs:element ref="cliclavoro:telefono" minOccurs="0"/>
				<xs:element ref="cliclavoro:fax" minOccurs="0"/>
				<xs:element ref="cliclavoro:email" minOccurs="0"/>
				<xs:element ref="cliclavoro:visibilita" minOccurs="0"/>
				<xs:element ref="cliclavoro:tipoofferta"/>
				<xs:element ref="cliclavoro:motivochiusura" minOccurs="0"/>
				<xs:element ref="cliclavoro:codiceofferta"/>
				<xs:element ref="cliclavoro:codiceoffertaprecedente" minOccurs="0"/>
				<xs:element ref="cliclavoro:codiceoffertaintermediario" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Si-No">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Lingua">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idlingua"/>
				<xs:element ref="cliclavoro:idlivelloletto" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivelloscritto" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivelloparlato" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titolostudio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idtitolostudio"/>
				<xs:element ref="cliclavoro:descrizionestudio" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Stringa">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa100Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa16Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa25">
		<xs:restriction base="xs:string">
			<xs:minLength value="25"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa25Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa3Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa8Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa80Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mail">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
			<xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="captype">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa4Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa300">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa300Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa250Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2000Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa5000Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa10Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico2Obbl">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Controlli su campi che puntano a tabelle esterne -->
	<xs:simpleType name="atecocheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ampiezzacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="comunecheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}\d{3}"/>
			<xs:pattern value="[0]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="titolostudiocheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}|[A-Z]{3}|WU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="livellolinguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-C]{1}[1-2]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="albicheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0]{2}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="patenticheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualificasvoltacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]\.){5}[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ccnlcheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalitacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoComunicazionecheck">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="checkrapporti">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- DATORE LAVORO -->
	<!-- dati anagrafici -->
	<xs:element name="codicefiscale" type="cliclavoro:CodiceFiscale"/>
	<xs:element name="denominazione" type="cliclavoro:Stringa100Obbl"/>
	<xs:element name="settore" type="cliclavoro:atecocheck"/>
	<xs:element name="ampiezza" type="cliclavoro:ampiezzacheck"/>
	<xs:element name="web" type="cliclavoro:Stringa256"/>
	<!-- dati contatto -->
	<xs:element name="indirizzo" type="cliclavoro:Stringa100"/>
	<xs:element name="idcomune" type="cliclavoro:comunecheck"/>
	<xs:element name="cap" type="cliclavoro:captype"/>
	<xs:element name="telefono" type="cliclavoro:Stringa15"/>
	<xs:element name="fax" type="cliclavoro:Stringa15"/>
	<xs:element name="email" type="cliclavoro:mail"/>
	<!-- RICHIESTA DEL PERSONALE -->
	<!-- profili professionali richiesti -->
	<xs:element name="numerolavoratori" type="cliclavoro:Numerico2Obbl"/>
	<xs:element name="idprofessione" type="cliclavoro:qualificasvoltacheck"/>
	<xs:element name="descrprofessione" type="cliclavoro:Stringa250Obbl"/>
	<xs:element name="descrizionericerca" type="cliclavoro:Stringa5000Obbl"/>
	<xs:element name="esperienzarichiesta" type="cliclavoro:Si-No"/>
	<xs:element name="descrizioneesperienza" type="cliclavoro:Stringa2000"/>
	<!-- istruzione e formazione -->
	<xs:element name="idtitolostudio" type="cliclavoro:titolostudiocheck"/>
	<xs:element name="descrizionestudio" type="cliclavoro:Stringa100"/>
	<xs:element name="idalbo" type="cliclavoro:albicheck"/>
	<xs:element name="idlingua" type="cliclavoro:linguacheck"/>
	<xs:element name="idlivelloletto" type="cliclavoro:livellolinguacheck"/>
	<xs:element name="idlivelloscritto" type="cliclavoro:livellolinguacheck"/>
	<xs:element name="idlivelloparlato" type="cliclavoro:livellolinguacheck"/>
	<xs:element name="conoscenzeinformatiche" type="cliclavoro:Stringa1000"/>
	<xs:element name="altrecapacita" type="cliclavoro:Stringa500"/>
	<xs:element name="trasferte" type="cliclavoro:Si-No"/>
	<xs:element name="idpatenteguida" type="cliclavoro:patenticheck"/>
	<xs:element name="idmezzitrasporto" type="cliclavoro:Si-No"/>
	<xs:element name="idpatentino" type="cliclavoro:patenticheck"/>
	<xs:element name="ulteriorirequisiti" type="cliclavoro:Stringa1000"/>
	<!-- condizioni lavorative offerte -->
	<xs:element name="idtipologiacontratto" type="cliclavoro:checkrapporti"/>
	<xs:element name="durata" type="cliclavoro:Stringa30"/>
	<xs:element name="idccnl" type="cliclavoro:ccnlcheck"/>
	<xs:element name="idlivellocontrattuale" type="cliclavoro:Numerico1"/>
	<xs:element name="idmodalitalavoro" type="cliclavoro:modalitacheck"/>
	<xs:element name="retribuzioneannualorda" type="cliclavoro:Numerico9"/>
	<xs:element name="ulterioricondizioni" type="cliclavoro:Stringa1000"/>
	<!-- durata della richiesta -->
	<xs:element name="datapubblicazione" type="xs:dateTime"/>
	<xs:element name="datascadenza" type="xs:date"/>
	<!-- dati da sistema -->
	<xs:element name="intermediario" type="cliclavoro:Stringa11"/>
	<xs:element name="codicefiscaleintermediario" type="cliclavoro:Stringa16Obbl"/>
	<xs:element name="denominazioneintermediario" type="cliclavoro:Stringa200"/>
	<xs:element name="visibilita" type="cliclavoro:Si-No"/>
	<xs:element name="tipoofferta" type="cliclavoro:tipoComunicazionecheck"/>
	<xs:element name="motivochiusura" type="cliclavoro:Stringa2"/>
	<xs:element name="codiceofferta" type="cliclavoro:Stringa25"/>
	<xs:element name="codiceoffertaprecedente" type="cliclavoro:Stringa25"/>
	<xs:element name="codiceoffertaintermediario" type="cliclavoro:Stringa25Obbl"/>
	<!-- dati Altre Informazioni -->
	<xs:element name="N.O." type="cliclavoro:Si-No"/>
</xs:schema>
