sil/sil-war/src/main/webapp/WEB-INF/xsd/articolo16OnLine/request_istanze_art16.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestIstanzaArt16">
    <xs:complexType>
      <xs:attribute name="numero" type="xs:int" />
      <xs:attribute name="anno" type="xs:int" />
    </xs:complexType>
  </xs:element>
</xs:schema>