sil/sil-war/src/main/webapp/wsdl/GetLavoratoreAssister.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://assister.webservices.coop.sil.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://assister.webservices.coop.sil.eng.it" xmlns:intf="http://assister.webservices.coop.sil.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- WSDL created by Apache Axis version: 1.3 Built on Oct 05, 2005 (05:23:37 EDT) -->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://assister.webservices.coop.sil.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="request">
    <sequence>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="strCodiceFiscale" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="req" type="impl:request"/>
   <complexType name="getInfoLavoratoreResponse">
    <sequence>
     <element name="errore" nillable="true" type="xsd:string"/>
     <element name="strCodiceFiscale" nillable="true" type="xsd:string"/>
     <element name="strCognome" nillable="true" type="xsd:string"/>
     <element name="strNome" nillable="true" type="xsd:string"/>
     <element name="datNasc" nillable="true" type="xsd:string"/>
     <element name="codComNas" nillable="true" type="xsd:string"/>
     <element name="codCittadinanza" nillable="true" type="xsd:string"/>
     <element name="strSesso" nillable="true" type="xsd:string"/>
     <element name="codStatoCivile" nillable="true" type="xsd:string"/>
     <element name="codComRes" nillable="true" type="xsd:string"/>
     <element name="strLocalitaRes" nillable="true" type="xsd:string"/>
     <element name="strIndirizzoRes" nillable="true" type="xsd:string"/>
     <element name="codComDom" nillable="true" type="xsd:string"/>
     <element name="strLocalitaDom" nillable="true" type="xsd:string"/>
     <element name="strIndirizzoDom" nillable="true" type="xsd:string"/>
     <element name="strNumDocumento" nillable="true" type="xsd:string"/>
     <element name="datScadenza" nillable="true" type="xsd:string"/>
     <element name="codPermesso" nillable="true" type="xsd:string"/>
     <element name="codTitolo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getInfoLavoratoreResponse" type="impl:getInfoLavoratoreResponse"/>
  </schema>
 </wsdl:types>
   <wsdl:message name="getInfoLavoratoreRequest">
      <wsdl:part element="impl:req" name="request">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="getInfoLavoratoreResponse">
      <wsdl:part element="impl:getInfoLavoratoreResponse" name="getInfoLavoratoreResponse">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="AssistErWsImpl">
      <wsdl:operation name="getInfoLavoratore" parameterOrder="request">
         <wsdl:input message="impl:getInfoLavoratoreRequest" name="getInfoLavoratoreRequest">
       </wsdl:input>
         <wsdl:output message="impl:getInfoLavoratoreResponse" name="getInfoLavoratoreResponse">
       </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AssistErWsSoapBinding" type="impl:AssistErWsImpl">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getInfoLavoratore">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getInfoLavoratoreRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getInfoLavoratoreResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AssistErWSService">
      <wsdl:port binding="impl:AssistErWsSoapBinding" name="GetLavoratoreAssister">
         <wsdlsoap:address location="http://localhost:28080/sil/services/GetLavoratoreAssister"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
