sil/sil-war/src/main/webapp/wsdl/SetSignatureToDoc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/idp/services" xmlns:intf="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Generated for Adobe LiveCycle 8.0.1
To get the latest WSDL, add the lc_version property to the end of the URL.
For example: http://localhost:8080/soap/services/MyService?wsdl&lc_version=9.0.0-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="invoke">
    <complexType>
     <sequence>
      <element maxOccurs="1" minOccurs="0" name="in_doc" type="impl:BLOB"/>
      <element maxOccurs="1" minOccurs="0" name="in_xml_dati" type="impl:XML"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="BLOB">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="contentType" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="binaryData" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="attachmentID" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="remoteURL" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="XML">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="document" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="element" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="invokeResponse">
    <complexType>
     <sequence>
      <element name="numPages" type="xsd:string"/>
      <element name="out_berror" type="xsd:short"/>
      <element name="out_doc_pdf" type="impl:BLOB"/>
      <element name="out_error" type="xsd:string"/>
      <element name="t" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MyArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="FormInstanceBase">
    <sequence>
     <element name="XFAData" nillable="true" type="xsd:base64Binary"/>
     <element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
     <element name="hardenedTemplatePath" nillable="true" type="xsd:string"/>
     <element name="selectedAction" nillable="true" type="xsd:string"/>
     <element name="templatePath" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="FormDataTypeInstance">
    <complexContent>
     <extension base="impl:FormInstanceBase">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SetValueMapping">
    <sequence>
     <element name="locationExpr" nillable="true" type="xsd:string"/>
     <element name="valueExpr" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="invokeRequest">

      <wsdl:part element="impl:invoke" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="invokeResponse">

      <wsdl:part element="impl:invokeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="FirmaGrafometrica_SetSignatureToDoc">

      <wsdl:operation name="invoke">

         <wsdl:input message="impl:invokeRequest" name="invokeRequest"/>

         <wsdl:output message="impl:invokeResponse" name="invokeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SetSignatureToDocSoapBinding" type="impl:FirmaGrafometrica_SetSignatureToDoc">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="invoke">

         <wsdlsoap:operation soapAction="invoke"/>

         <wsdl:input name="invokeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="invokeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FirmaGrafometrica_SetSignatureToDocService">

      <wsdl:port binding="impl:SetSignatureToDocSoapBinding" name="SetSignatureToDoc">

         <wsdlsoap:address location="http://172.20.1.141:8080/soap/services/FirmaGrafometrica/SetSignatureToDoc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
