sil/sil-war/src/main/webapp/WEB-INF/xsd/myportal/clic_lavoro_candidatura_038_blen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Versione XSD: Gennaio 2012 -->
<xs:schema xmlns:cliclavoro="http://servizi.lavoro.gov.it/candidatura" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servizi.lavoro.gov.it/candidatura" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Candidatura">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:Lavoratore"/>
				<xs:element ref="cliclavoro:DatiCurriculari"/>
				<xs:element ref="cliclavoro:DatiSistema"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lavoratore">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:DatiAnagrafici"/>
				<xs:element ref="cliclavoro:Domicilio"/>
				<xs:element ref="cliclavoro:Recapiti"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiAnagrafici">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:codicefiscale"/>
				<xs:element ref="cliclavoro:cognome"/>
				<xs:element ref="cliclavoro:nome"/>
				<xs:element ref="cliclavoro:sesso"/>
				<xs:element ref="cliclavoro:datanascita"/>
				<xs:element ref="cliclavoro:idcomune"/>
				<xs:element ref="cliclavoro:idcittadinanza"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Domicilio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idcomune"/>
				<xs:element ref="cliclavoro:cap" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Recapiti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:indirizzo" minOccurs="0"/>
				<xs:element ref="cliclavoro:telefono" minOccurs="0"/>
				<xs:element ref="cliclavoro:cellulare" minOccurs="0"/>
				<xs:element ref="cliclavoro:fax" minOccurs="0"/>
				<xs:element ref="cliclavoro:email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiCurriculari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:EsperienzeLavorative" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:Istruzione" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:Formazione" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:Lingue" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:ConoscenzeInformatiche" minOccurs="0"/>
				<xs:element ref="cliclavoro:AbilitazioniPatenti" minOccurs="0"/>
				<xs:element ref="cliclavoro:ProfessioneDesiderataDisponibilita" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EsperienzeLavorative">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:tipoesperienza" minOccurs="0"/>
				<xs:element ref="cliclavoro:qualificasvolta" minOccurs="0"/>
				<xs:element ref="cliclavoro:descrqualificasvolta" minOccurs="0"/>
				<xs:element ref="cliclavoro:principalimansioni" minOccurs="0"/>
				<xs:element ref="cliclavoro:nomedatore" minOccurs="0"/>
				<xs:element ref="cliclavoro:datainizio" minOccurs="0"/>
				<xs:element ref="cliclavoro:datafine" minOccurs="0"/>
				<xs:element ref="cliclavoro:indirizzodatore" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Istruzione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:titolostudio"/>
				<xs:element ref="cliclavoro:descrizioneistruzione" minOccurs="0"/>
				<xs:element ref="cliclavoro:votazione" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Formazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:titolocorso" minOccurs="0"/>
				<xs:element ref="cliclavoro:idsede" minOccurs="0"/>
				<xs:element ref="cliclavoro:durata" minOccurs="0"/>
				<xs:element ref="cliclavoro:idtipologiadurata" minOccurs="0"/>
				<xs:element ref="cliclavoro:idattestazione" minOccurs="0"/>
				<xs:element ref="cliclavoro:idqualifica" minOccurs="0"/>
				<xs:element ref="cliclavoro:descrqualifica" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lingue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idlingua" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivelloletto" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivelloscritto" minOccurs="0"/>
				<xs:element ref="cliclavoro:idlivelloparlato" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConoscenzeInformatiche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:tipoconoscenza" minOccurs="0"/>
				<xs:element ref="cliclavoro:specifiche" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AbilitazioniPatenti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idalbo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:idpatenteguida" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:idpatentino" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfessioneDesiderataDisponibilita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:idprofessione"/>
				<xs:element ref="cliclavoro:descrprofessione"/>
				<xs:element ref="cliclavoro:descrizioneprofessione" minOccurs="0"/>
				<xs:element ref="cliclavoro:esperienzasettore" minOccurs="0"/>
				<xs:element ref="cliclavoro:descrizioneesperienza" minOccurs="0"/>
				<xs:element ref="cliclavoro:trasferte" minOccurs="0"/>
				<xs:element ref="cliclavoro:idmodalitalavorativa" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:idtipologiacontratto" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cliclavoro:mezzitrasporto" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiSistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cliclavoro:ambitodiffusione"/>
				<xs:element ref="cliclavoro:datainserimento"/>
				<xs:element ref="cliclavoro:datascadenza" minOccurs="0"/>
				<xs:element ref="cliclavoro:idintermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:codicefiscaleintermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:denominazioneintermediario" minOccurs="0"/>
				<xs:element ref="cliclavoro:indirizzo" minOccurs="0"/>
				<xs:element ref="cliclavoro:idcomune" minOccurs="0"/>
				<xs:element ref="cliclavoro:cap" minOccurs="0"/>
				<xs:element ref="cliclavoro:telefono" minOccurs="0"/>
				<xs:element ref="cliclavoro:fax" minOccurs="0"/>
				<xs:element ref="cliclavoro:email" minOccurs="0"/>
				<xs:element ref="cliclavoro:visibilita" minOccurs="0"/>
				<xs:element ref="cliclavoro:tipocandidatura"/>
				<xs:element ref="cliclavoro:motivochiusura" minOccurs="0"/>
				<xs:element ref="cliclavoro:codicecandidatura"/>
				<xs:element ref="cliclavoro:codicecandidaturaprecedente" minOccurs="0"/>
				<xs:element ref="cliclavoro:percettore" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Controlli generali -->
	<xs:simpleType name="CodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipologiaDurata">
		<xs:restriction base="xs:string">
			<xs:enumeration value="O"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Si-No">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="captype">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa10Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa16Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa25Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="25"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa50Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa80Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mail">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
			<xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa250">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa250Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa300">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Controlli riferiti a tabelle esterne -->
	<xs:simpleType name="sessocheck">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="comunecheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}\d{3}"/>
			<xs:pattern value="[0]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cittadinanzacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duratacheck">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoesperienzacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualificasvoltacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]\.){5}[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attestazionecheck">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}|[A-Z]{3}|WU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="livellolinguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-C]{1}[1-2]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="albicheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0]{2}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="patenticheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalitalavorativacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="listespecialicheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regionicheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoComunicazionecheck">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="titolostudiocheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="checkrapporti">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--DATI PERSONALI DEL LAVORATORE -->
	<!-- dati anagrafici -->
	<xs:element name="codicefiscale" type="cliclavoro:CodiceFiscale"/>
	<xs:element name="cognome" type="cliclavoro:Stringa50Obbl"/>
	<xs:element name="nome" type="cliclavoro:Stringa50Obbl"/>
	<xs:element name="sesso" type="cliclavoro:sessocheck"/>
	<xs:element name="datanascita" type="xs:date"/>
	<xs:element name="idcomune" type="cliclavoro:comunecheck"/>
	<xs:element name="idcittadinanza" type="cliclavoro:cittadinanzacheck"/>
	<!-- domicilio -->
	<xs:element name="cap" type="cliclavoro:captype"/>
	<!-- recapiti -->
	<xs:element name="indirizzo" type="cliclavoro:Stringa100"/>
	<xs:element name="telefono" type="cliclavoro:Stringa15"/>
	<xs:element name="cellulare" type="cliclavoro:Stringa15"/>
	<xs:element name="fax" type="cliclavoro:Stringa15"/>
	<xs:element name="email" type="cliclavoro:mail"/>
	<!-- DATI CURRICULARI -->
	<!-- esperienze lavorative -->
	<xs:element name="tipoesperienza" type="cliclavoro:tipoesperienzacheck"/>
	<xs:element name="qualificasvolta" type="cliclavoro:qualificasvoltacheck"/>
	<xs:element name="descrqualificasvolta" type="cliclavoro:Stringa250"/>
	<xs:element name="principalimansioni" type="cliclavoro:Stringa250"/>
	<xs:element name="nomedatore" type="cliclavoro:Stringa100"/>
	<xs:element name="datainizio" type="xs:date"/>
	<xs:element name="datafine" type="xs:date"/>
	<xs:element name="indirizzodatore" type="cliclavoro:Stringa100"/>
	<!-- istruzione -->
	<xs:element name="titolostudio" type="cliclavoro:titolostudiocheck"/>
	<xs:element name="descrizioneistruzione" type="cliclavoro:Stringa100"/>
	<xs:element name="votazione" type="cliclavoro:Stringa30"/>
	<!-- formazione -->
	<xs:element name="titolocorso" type="cliclavoro:Stringa100"/>
	<xs:element name="idsede" type="cliclavoro:comunecheck"/>
	<xs:element name="durata" type="cliclavoro:duratacheck"/>
	<xs:element name="idtipologiadurata" type="cliclavoro:TipologiaDurata"/>
	<xs:element name="idattestazione" type="cliclavoro:attestazionecheck"/>
	<xs:element name="idqualifica" type="cliclavoro:qualificasvoltacheck"/>
	<xs:element name="descrqualifica" type="cliclavoro:Stringa250"/>
	<!-- lingue -->
	<xs:element name="idlingua" type="cliclavoro:linguacheck"/>
	<xs:element name="idlivelloletto" type="cliclavoro:livellolinguacheck"/>
	<xs:element name="idlivelloscritto" type="cliclavoro:livellolinguacheck"/>
	<xs:element name="idlivelloparlato" type="cliclavoro:livellolinguacheck"/>
	<!-- conosacenze infrmatiche -->
	<xs:element name="tipoconoscenza" type="cliclavoro:Stringa1000"/>
	<xs:element name="specifiche" type="cliclavoro:Stringa1000"/>
	<!-- abilitazioni patenti -->
	<xs:element name="idalbo" type="cliclavoro:albicheck"/>
	<xs:element name="idpatenteguida" type="cliclavoro:patenticheck"/>
	<xs:element name="idpatentino" type="cliclavoro:patenticheck"/>
	<!-- professione desiderata disponibilita -->
	<xs:element name="idprofessione" type="cliclavoro:qualificasvoltacheck"/>
	<xs:element name="descrprofessione" type="cliclavoro:Stringa250Obbl"/>
	<xs:element name="descrizioneprofessione" type="cliclavoro:Stringa300"/>
	<xs:element name="esperienzasettore" type="cliclavoro:Si-No"/>
	<xs:element name="descrizioneesperienza" type="cliclavoro:Stringa300"/>
	<xs:element name="trasferte" type="cliclavoro:Si-No"/>
	<xs:element name="idmodalitalavorativa" type="cliclavoro:modalitalavorativacheck"/>
	<xs:element name="idtipologiacontratto" type="cliclavoro:checkrapporti"/>
	<xs:element name="turni" type="cliclavoro:Si-No"/>
	<xs:element name="mezzitrasporto" type="cliclavoro:Si-No"/>
	<xs:element name="listespeciali" type="cliclavoro:listespecialicheck"/>
	<!-- DATI SISTEMA -->
	<xs:element name="ambitodiffusione" type="cliclavoro:regionicheck"/>
	<xs:element name="datainserimento" type="xs:dateTime"/>
	<xs:element name="datascadenza" type="xs:date"/>
	<xs:element name="idintermediario" type="cliclavoro:Stringa11"/>
	<xs:element name="codicefiscaleintermediario" type="cliclavoro:Stringa16Obbl"/>
	<xs:element name="denominazioneintermediario" type="cliclavoro:Stringa200"/>
	<xs:element name="visibilita" type="cliclavoro:Si-No"/>
	<xs:element name="tipocandidatura" type="cliclavoro:tipoComunicazionecheck"/>
	<xs:element name="motivochiusura" type="cliclavoro:Stringa2"/>
	<xs:element name="codicecandidatura" type="cliclavoro:Stringa25Obbl"/>
	<xs:element name="codicecandidaturaprecedente" type="cliclavoro:Stringa25Obbl"/>
	<xs:element name="percettore" type="cliclavoro:Si-No"/>
</xs:schema>
