sil/sil-war/src/main/webapp/WEB-INF/xsd/myportal/myportal_ricercapersonale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:vacancy="http://regione.emilia-romagna.it/vacancy/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:element name="Vacancy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DatoreLavoro"/>
				<xs:element ref="Richiesta"/>
				<xs:element ref="RegistrazioneAzienda" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DatiSistema"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatoreLavoro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DatiAnagrafici"/>
				<xs:element ref="DatiContatto"/>
				<xs:element ref="DatiContattoAlternativo" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Richiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProfiloRichiesto"/>
				<xs:element ref="IstruzioneFormazione"/>
				<xs:element ref="CondizioniOfferte"/>
				<xs:element ref="DurataRichiesta"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiAnagrafici">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codicefiscale"/>
				<xs:element ref="denominazione"/>
				<xs:element ref="indirizzolavoro"/>
				<xs:element ref="codcomunelavoro"/>
				<xs:element ref="settore" minOccurs="0"/>
				<xs:element ref="web" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiContatto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nomereferente" minOccurs="0"/>
				<xs:element ref="cognomereferente" minOccurs="0"/>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="fax" minOccurs="0"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
		<xs:element name="DatiContattoAlternativo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nomereferente" minOccurs="0"/>
				<xs:element ref="cognomereferente" minOccurs="0"/>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="fax" minOccurs="0"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfiloRichiesto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numerolavoratori"/>
				<xs:element ref="attivitaprincipale"/>
				<xs:element ref="codprofessione"/>
				<xs:element ref="descrprofessione"/>
				<xs:element ref="descrizionericerca" minOccurs="0"/>
				<xs:element ref="esperienzarichiesta" minOccurs="0"/>
				<xs:element ref="descrizioneesperienza" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstruzioneFormazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titolostudio" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="codalbo" minOccurs="0"/>
				<xs:element ref="Lingua" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="conoscenzeinformatiche" minOccurs="0"/>
				<xs:element ref="trasferte" minOccurs="0"/>
				<xs:element ref="codpatenteguida" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="codmezzitrasporto" minOccurs="0"/>
				<xs:element ref="codpatentino" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="codorario" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="codagevolazione" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CondizioniOfferte">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codcomune"/>
				<xs:element ref="codtipologiacontratto"  minOccurs="0"/>
				<xs:element ref="retribuzioneannualorda" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DurataRichiesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datapubblicazione"/>
				<xs:element ref="datascadenzapubblicazione"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegistrazioneAzienda">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DatiRichiedente"/>
				<xs:element ref="DatiAzienda"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiRichiedente">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nome" />
				<xs:element ref="cognome" />				
				<xs:element ref="emailregistrazione" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiAzienda">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codicefiscale" />				
				<xs:element ref="ragionesociale" />
				<xs:element ref="indirizzosedeoperativa" />
				<xs:element ref="capsedeoperativa" />
				<xs:element ref="codcomunesedeoperativa" />
				<xs:element ref="telefonosedeoperativa" />
				<xs:element ref="faxsedeoperativa" />                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiSistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numeroofferta"/>
				<xs:element ref="annoofferta"/>
				<xs:element ref="provenienza"/>
				<xs:element ref="cpi"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CodiceFiscaleType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Si-No">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Lingua">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codlingua"/>
				<xs:element ref="codlivelloletto" minOccurs="0"/>
				<xs:element ref="codlivelloscritto" minOccurs="0"/>
				<xs:element ref="codlivelloparlato" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titolostudio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codtitolostudio"/>
				<xs:element ref="descrizionestudio" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Stringa">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa100Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa500Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa16Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa25Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa3Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa8Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa80Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mail">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
			<xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="captype">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa4Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa50Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="Stringa300">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa300Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa250Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa30Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="Stringa500">
    <xs:restriction base="xs:string">
      <xs:maxLength value="500"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="Stringa1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa2000Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa10Obbl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Stringa8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico4Obbl">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numerico1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Controlli su campi che puntano a tabelle esterne -->
	<xs:simpleType name="atecocheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="comunecheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}\d{3}"/>
			<xs:pattern value="[0]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="titolostudiocheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}|[A-Z]{3}|WU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="livellolinguacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-6]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="albicheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0]{2}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualificasvoltacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]\.){4}[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ccnlcheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,A-Z]{3}|[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalitacheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="capCheck">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="checkrapporti">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- DATORE LAVORO -->
	<!-- dati anagrafici -->
	<xs:element name="codicefiscale" type="CodiceFiscaleType"/>
	<xs:element name="denominazione" type="Stringa100Obbl"/>
	<xs:element name="indirizzolavoro" type="Stringa500Obbl"/>
	<xs:element name="codcomunelavoro" type="comunecheck"/>
	<xs:element name="settore" type="atecocheck"/>
	<xs:element name="web" type="Stringa256"/>
	<!-- dati contatto -->
	<xs:element name="nomereferente" type="Stringa1000"/>
	<xs:element name="cognomereferente" type="Stringa1000"/>
	<xs:element name="codcomune" type="comunecheck"/>
	<xs:element name="telefono" type="Stringa15"/>
	<xs:element name="fax" type="Stringa15"/>
	<xs:element name="email" type="mail"/>
	<!-- RICHIESTA DEL PERSONALE -->
	<!-- profili professionali richiesti -->
	<xs:element name="numerolavoratori" type="Numerico4Obbl"/>
	<xs:element name="attivitaprincipale" type="Stringa250Obbl"/>
	<xs:element name="codprofessione" type="Stringa12"/>
	<xs:element name="descrprofessione" type="Stringa250Obbl"/>
	<xs:element name="descrizionericerca" type="Stringa2000Obbl"/>
	<xs:element name="esperienzarichiesta" type="Si-No"/>
	<xs:element name="descrizioneesperienza" type="Stringa2000"/>
	<!-- istruzione e formazione -->
	<xs:element name="codtitolostudio" type="Stringa8"/>
	<xs:element name="descrizionestudio" type="Stringa100"/>
	<xs:element name="codalbo" type="albicheck"/>
	<xs:element name="codlingua" type="linguacheck"/>
	<xs:element name="codlivelloletto" type="livellolinguacheck"/>
	<xs:element name="codlivelloscritto" type="livellolinguacheck"/>
	<xs:element name="codlivelloparlato" type="livellolinguacheck"/>
	<xs:element name="conoscenzeinformatiche" type="Stringa1000"/>
	<xs:element name="trasferte" type="Si-No"/>
	<xs:element name="codpatenteguida" type="Stringa4"/>
	<xs:element name="codmezzitrasporto" type="Si-No"/>
	<xs:element name="codpatentino" type="Stringa4"/>
	<xs:element name="codorario" type="Stringa3"/>
	<xs:element name="codagevolazione" type="Stringa3"/>
	<!-- condizioni lavorative offerte -->
	<xs:element name="codtipologiacontratto" type="checkrapporti"/>
	<xs:element name="retribuzioneannualorda" type="Numerico9"/>
	<!-- durata della richiesta -->
	<xs:element name="datapubblicazione" type="xs:date"/>
	<xs:element name="datascadenzapubblicazione" type="xs:date"/>
	<!-- dati registrazione azienda -->
	<xs:element name="nome" type="Stringa30Obbl"/>
	<xs:element name="cognome" type="Stringa30Obbl"/>	
	<xs:element name="emailregistrazione" type="mail"/>				
	<xs:element name="ragionesociale" type="Stringa100Obbl" />
	<xs:element name="indirizzosedeoperativa" type="Stringa80Obbl" />
	<xs:element name="capsedeoperativa" type="capCheck" />
	<xs:element name="codcomunesedeoperativa" type="comunecheck" />
	<xs:element name="telefonosedeoperativa" type="Stringa50Obbl" />
	<xs:element name="faxsedeoperativa" type="Stringa50Obbl" />   
	<!-- dati da sistema -->
	<xs:element name="numeroofferta" type="Numerico9"/>
	<xs:element name="annoofferta" type="Numerico4Obbl"/>
	<xs:element name="provenienza" type="Stringa15"/>
	<xs:element name="cpi" type="Stringa15"/>
</xs:schema>