sil/sil-war/src/main/webapp/WEB-INF/xsd/myportal/output_myportal_ricercapersonale_TN.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="inserisciVacancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="xs:string" />
        <xs:element name="dettaglio" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>