sil/sil-war/src/main/webapp/wsdl/redditoCittadinanza/eventicondizionalitaintegratoxsd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EventiCondizionalitaRDC" targetNamespace="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC" xmlns:impl="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC" xmlns:types="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC/types" xmlns:apachesoap="http://xml.apache.org/xml-soap">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC/types" xmlns:types="http://servizi.lavoro.gov.it/EventiCondizionalitaRDC/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="deleteEventiCondizionalitaRDC" type="types:richiesta_deleteEventiCondizionalitaRDC_Type"/>
        <xs:complexType name="richiesta_deleteEventiCondizionalitaRDC_Type">
            <xs:sequence>
                <xs:element minOccurs="1" name="cod_cpi" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_evento" type="types:cod_evento"/>
                <xs:element minOccurs="1" name="cod_fiscale" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_fiscale_ope" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_protocollo_inps" type="xs:string"/>
                <xs:element minOccurs="1" name="dtt_domanda" type="xs:date"/>
                <xs:element minOccurs="1" name="dtt_evento" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="loadEventiCondizionalitaRDC" type="types:richiesta_EventiCondizionalitaRDC_Type"/>
        <xs:complexType name="richiesta_EventiCondizionalitaRDC_Type">
            <xs:sequence>
                <xs:element minOccurs="1" name="cod_cpi" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_evento" type="types:cod_evento"/>
                <xs:element minOccurs="1" name="cod_fiscale" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_fiscale_ope" type="xs:string"/>
                <xs:element minOccurs="1" name="cod_protocollo_inps" type="xs:string"/>
                <xs:element minOccurs="1" name="dtt_domanda" type="xs:dateTime"/>
                <xs:element minOccurs="1" name="dtt_evento" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="txt_note" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="cod_evento">
            <xs:restriction base="xs:string">
                <xs:enumeration value="X01"/>
                <xs:enumeration value="X02"/>
                <xs:enumeration value="X03"/>
                <xs:enumeration value="X04"/>
                <xs:enumeration value="X05"/>
                <xs:enumeration value="X06"/>
                <xs:enumeration value="X07"/>
                <xs:enumeration value="X08"/>
                <xs:enumeration value="X09"/>
                <xs:enumeration value="X10"/>
                <xs:enumeration value="X11"/>
                <xs:enumeration value="X12"/>
                <xs:enumeration value="X13"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:element name="Esito_loadEventiCondizionalitaRDC" type="types:risposta_EventiCondizionalitaRDC_Type"/>
        <xs:complexType name="risposta_EventiCondizionalitaRDC_Type">
            <xs:sequence>
                <xs:element minOccurs="1" name="cod_esito" type="xs:string"/>
                <xs:element minOccurs="1" name="des_esito" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="Esito_deleteEventiCondizionalitaRDC" type="types:risposta_Esito_deleteEventiCondizionalitaRDC_Type"/>
        <xs:complexType name="risposta_Esito_deleteEventiCondizionalitaRDC_Type">
            <xs:sequence>
                <xs:element minOccurs="1" name="cod_esito" type="xs:string"/>
                <xs:element minOccurs="1" name="des_esito" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="risposta_EventiCondizionalitaRDC_Msg">
    <wsdl:part name="parameters" element="types:Esito_loadEventiCondizionalitaRDC"/>
  </wsdl:message>
  <wsdl:message name="richiesta_EventiCondizionalitaRDC_Msg">
    <wsdl:part name="parameters" element="types:loadEventiCondizionalitaRDC"/>
  </wsdl:message>
  <wsdl:message name="risposta_CancellazioneEventiCondizionalitaRDC_Msg">
  	<wsdl:part element="types:Esito_deleteEventiCondizionalitaRDC" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="richiesta_CancellazioneEventiCondizionalitaRDC_Msg">
      <wsdl:part element="types:deleteEventiCondizionalitaRDC" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EventiCondizionalitaRDCWS">
    <wsdl:operation name="loadEventiCondizionalitaRDC">
      <wsdl:input message="intf:richiesta_EventiCondizionalitaRDC_Msg"/>
      <wsdl:output message="intf:risposta_EventiCondizionalitaRDC_Msg"/>
    </wsdl:operation>
     <wsdl:operation name="deleteEventiCondizionalitaRDC">
     	<wsdl:input message="intf:richiesta_CancellazioneEventiCondizionalitaRDC_Msg"/>
        <wsdl:output message="intf:risposta_CancellazioneEventiCondizionalitaRDC_Msg"/>
     </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventiCondizionalitaRDCWSSoapBinding" type="intf:EventiCondizionalitaRDCWS">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loadEventiCondizionalitaRDC">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEventiCondizionalitaRDC">
	    <wsdlsoap:operation soapAction="deleteEventiCondizionalitaRDC"/>
	    <wsdl:input>
	        <wsdlsoap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output>
	        <wsdlsoap:body use="literal"/>
	    </wsdl:output>
     </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventiCondizionalitaRDCWSService">
    <wsdl:port name="EventiCondizionalitaRDCWS" binding="intf:EventiCondizionalitaRDCWSSoapBinding">
      <wsdlsoap:address location="http://servizi.lavoro.gov.it/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
