sil/sil-war/src/main/webapp/wsdl/redditoCittadinanza/getRdc.wsdl

<wsdl:definitions name="serviceRDC" targetNamespace="http://servizi.lavoro.gov.it/serviceRDC"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://servizi.lavoro.gov.it/serviceRDC" xmlns:impl="http://servizi.lavoro.gov.it/serviceRDC" xmlns:types="http://servizi.lavoro.gov.it/serviceRDC/types" xmlns:apachesoap="http://xml.apache.org/xml-soap">
<wsdl:types>
	<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://servizi.lavoro.gov.it/serviceRDC/types" schemaLocation="rdc_1.2.xsd"/>
		</schema>
</wsdl:types>
<wsdl:message name="richiesta_service_RDC_Msg_by_codiceFiscale">
    <wsdl:part name="parameters" element = "types:richiesta_RDC_beneficiari_dato_CodiceFiscale"/>
  </wsdl:message>
   <wsdl:message name="risposta_service_RDC_Msg_by_codiceFiscale">
    <wsdl:part name="parameters" element="types:risposta_RDC_beneficiari"/>
  </wsdl:message>
  <wsdl:message name="richiesta_service_RDC_Msg_by_codProtocolloInps">
    <wsdl:part name="parameters" element ="types:richiesta_RDC_beneficiari_dato_codProtocolloInps"/>
  </wsdl:message>
  <wsdl:message name="risposta_service_RDC_Msg_by_codProtocolloInps">
    <wsdl:part name="parameters" element="types:risposta_RDC_beneficiari"/>
  </wsdl:message>
 <wsdl:portType name="RDC">
    <wsdl:operation name="ricevi_RDC_by_codiceFiscale">
      <wsdl:input message="intf:richiesta_service_RDC_Msg_by_codiceFiscale"/>
      <wsdl:output message="intf:risposta_service_RDC_Msg_by_codiceFiscale"/>
    </wsdl:operation>
	    <wsdl:operation name="ricevi_RDC_by_codProtocolloInps">
      <wsdl:input message="intf:richiesta_service_RDC_Msg_by_codProtocolloInps"/>
      <wsdl:output message="intf:risposta_service_RDC_Msg_by_codProtocolloInps"/>
    </wsdl:operation>
  </wsdl:portType> 
  <wsdl:binding name="RDCSoapBinding" type="intf:RDC">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ricevi_RDC_by_codiceFiscale">
      <wsdlsoap:operation soapAction="http://servizi.lavoro.gov.it/ricevi_RDC_by_codiceFiscale"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	 <wsdl:operation name="ricevi_RDC_by_codProtocolloInps">
      <wsdlsoap:operation soapAction="http://servizi.lavoro.gov.it/ricevi_RDC_by_codProtocolloInps"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RDCService">
    <wsdl:port name="RDC" binding="intf:RDCSoapBinding">
      <wsdlsoap:address location="http://servizi.lavoro.gov.it/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
