sil/sil-war/src/main/webapp/wsdl/articolo16online/GetAttachmentListByProtocollo.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/idp/services" xmlns:intf="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://adobe.com/idp/services">
<!-- Generated for Adobe LiveCycle 8.0.1
To get the latest WSDL, add the lc_version property to the end of the URL.
For example: http://localhost:8080/soap/services/MyService?wsdl&lc_version=9.0.0 -->
<wsdl:types>
	<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services">
		<element name="invoke">
			<complexType>
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="in_string_annoprotocollo" type="xsd:string"/>
					<element maxOccurs="1" minOccurs="0" name="in_string_formid" type="xsd:string"/>
					<element maxOccurs="1" minOccurs="0" name="in_string_nprotocollo" type="xsd:string"/>
				</sequence>
			</complexType>
		</element>
		<element name="invokeResponse">
			<complexType>
				<sequence>
					<element name="out_xml_data" type="impl:XML"/>
					<element name="out_xml_output" type="impl:XML"/>
				</sequence>
			</complexType>
		</element>
		<complexType name="XML">
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="document" type="xsd:string"/>
				<element maxOccurs="1" minOccurs="0" name="element" type="xsd:string"/>
			</sequence>
		</complexType>
		<complexType name="MyArrayOf_xsd_anyType">
			<sequence>
				<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
			</sequence>
		</complexType>
		<complexType name="FormInstanceBase">
			<sequence>
				<element name="XFAData" nillable="true" type="xsd:base64Binary"/>
				<element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
				<element name="hardenedTemplatePath" nillable="true" type="xsd:string"/>
				<element name="selectedAction" nillable="true" type="xsd:string"/>
				<element name="templatePath" nillable="true" type="xsd:string"/>
			</sequence>
		</complexType>
		<complexType name="FormDataTypeInstance">
			<complexContent>
				<extension base="impl:FormInstanceBase">
					<sequence/>
				</extension>
			</complexContent>
		</complexType>
		<complexType name="SetValueMapping">
			<sequence>
				<element name="locationExpr" nillable="true" type="xsd:string"/>
				<element name="valueExpr" nillable="true" type="xsd:string"/>
			</sequence>
		</complexType>
	</schema>
	</wsdl:types>
	<wsdl:message name="invokeRequest">
		<wsdl:part element="impl:invoke" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokeResponse">
		<wsdl:part element="impl:invokeResponse" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ModulisticaOnline_GestioneAllegati_GetAttachmentsListByProtocollo">
		<wsdl:operation name="invoke">
			<wsdl:input message="impl:invokeRequest" name="invokeRequest"> </wsdl:input>
			<wsdl:output message="impl:invokeResponse" name="invokeResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetAttachmentsListByProtocolloSoapBinding" type="impl:ModulisticaOnline_GestioneAllegati_GetAttachmentsListByProtocollo">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="invoke">
			<wsdlsoap:operation soapAction="invoke"/>
			<wsdl:input name="invokeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="invokeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ModulisticaOnline_GestioneAllegati_GetAttachmentsListByProtocolloService">
		<wsdl:port binding="impl:GetAttachmentsListByProtocolloSoapBinding" name="GetAttachmentsListByProtocollo">
			<wsdlsoap:address location="http://localhost:8080/soap/services/ModulisticaOnline/GestioneAllegati/GetAttachmentsListByProtocollo"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>