sil/sil-war/src/main/webapp/wsdl/articolo16online/getIstanze.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://istanze.art16online.webservices.coop.sil.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IstanzeOnline" targetNamespace="http://istanze.art16online.webservices.coop.sil.eng.it">
<wsdl:types>
<xs:schema xmlns:tns="http://istanze.art16online.webservices.coop.sil.eng.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://istanze.art16online.webservices.coop.sil.eng.it" version="1.0">
<xs:element name="GetIstanze" type="tns:RequestIstanzaArt16"/>
<xs:element name="GetIstanzeResponse" type="tns:ResponseIstanzaArt16"/>
 
    <xs:complexType name="RequestIstanzaArt16">
      <xs:attribute name="numero" type="xs:int" />
      <xs:attribute name="anno" type="xs:int" />
    </xs:complexType>
   
  <xs:simpleType name="CodiceFiscaleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa50Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComuneType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}\d{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CittadinanzaType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CapType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EMailType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
      <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TelefonoType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExtraUEType">
    <xs:attribute name="titolosoggiorno" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="1" />
          <xs:pattern value="\d{1}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="numerotitolosogg">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="15" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="motivopermesso" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="5" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scadenzatitolosogg" type="xs:date" use="required" />
  </xs:complexType>
  <xs:complexType name="ResidenzaType">
    <xs:sequence>
      <xs:element name="comune" type="tns:ComuneType" />
      <xs:element name="Indirizzo" type="tns:Stringa100" />
      <xs:element name="cap" type="tns:CapType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IstanzaArt16Type">
    <xs:sequence>
      <xs:element name="numero" type="xs:int" />
      <xs:element name="anno">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ListaCandidature">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Candidatura" type="tns:CandidaturaType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnagraficaType">
    <xs:sequence>
      <xs:element name="codicefiscale" type="tns:CodiceFiscaleType" />
      <xs:element name="cognome" type="tns:Stringa50Obbl" />
      <xs:element name="nome" type="tns:Stringa50Obbl" />
      <xs:element name="sesso">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1" />
            <xs:enumeration value="F" />
            <xs:enumeration value="M" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="datanascita" type="xs:date" />
      <xs:element name="comune" type="tns:ComuneType" />
      <xs:element name="cittadinanza" type="tns:CittadinanzaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContattiType">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="tns:EMailType" />
      <xs:element minOccurs="0" name="telefono" type="tns:TelefonoType" />
      <xs:element minOccurs="0" name="cellulare" type="tns:TelefonoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ISEEType">
    <xs:sequence>
      <xs:element name="valore">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="3" />
            <xs:totalDigits value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="datainizio" type="xs:date" />
      <xs:element minOccurs="0" name="numannoreddito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IstanzaType">
    <xs:sequence>
      <xs:element name="datacandidatura" type="xs:date" />
      <xs:element name="annoprotocollo" type="xs:int" />
      <xs:element name="protocollo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="idistanza">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CandidaturaType">
    <xs:sequence>
      <xs:element name="Anagrafica" type="tns:AnagraficaType" />
      <xs:element name="Residenza" type="tns:ResidenzaType" />
      <xs:element name="Contatti" type="tns:ContattiType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExtraUE" type="tns:ExtraUEType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ISEE" type="tns:ISEEType" />
      <xs:element name="Istanza" type="tns:IstanzaType" />
    </xs:sequence>
    <xs:attribute name="dataaggiornamento" type="xs:date" />
  </xs:complexType>
  <xs:complexType name="EsitoType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="codice">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="descrizione">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="250" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
 
    <xs:complexType name="ResponseIstanzaArt16">
      <xs:sequence>
        <xs:element name="Esito" type="tns:EsitoType" />
        <xs:element minOccurs="0" maxOccurs="1" name="IstanzaArt16" type="tns:IstanzaArt16Type" />
      </xs:sequence>
    </xs:complexType>
  
</xs:schema>
</wsdl:types>
<wsdl:message name="GetIstanzeResponse">
<wsdl:part element="tns:GetIstanzeResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetIstanze">
<wsdl:part element="tns:GetIstanze" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="GestioneIstanzeOnline">
<wsdl:operation name="GetIstanze">
<wsdl:input message="tns:GetIstanze" name="GetIstanze"> </wsdl:input>
<wsdl:output message="tns:GetIstanzeResponse" name="GetIstanzeResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IstanzeOnlineSoapBinding" type="tns:GestioneIstanzeOnline">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetIstanze">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="GetIstanze">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetIstanzeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IstanzeOnline">
<wsdl:port binding="tns:IstanzeOnlineSoapBinding" name="GetIstanze">
<soap:address location="http://diana.bo.eng.it/sil/services/IstanzeOnline"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>