sil/sil-war/src/main/webapp/WEB-INF/xsd/servizi_cittadino/inputXML_reinvioMailAccreditamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reinvioMailAccreditamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idPfPrincipal" />
        <xs:element minOccurs="0" name="destinatarioCC" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>