sil/sil-war/src/main/webapp/WEB-INF/xsd/servizi_cittadino/outputXML_getAccountCittadino.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RispostaAccountCittadino">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Esito">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="codice">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="descrizione">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DatiAccount">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="AccountCittadino">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="username">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="16" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="cognome">
                      <xs:simpleType>
                        <xs:restriction base="Stringa">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nome">
                      <xs:simpleType>
                        <xs:restriction base="Stringa">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="email" type="EMail" />
                    <xs:element name="idPfPrincipal" />
                    <xs:element name="AbilitatoServiziAmministrativi">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="1" />
                          <xs:enumeration value="S" />
                          <xs:enumeration value="N" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Abilitato">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="1" />
                          <xs:enumeration value="S" />
                          <xs:enumeration value="N" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EMail">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
      <xs:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>