sil/sil-war/src/main/webapp/WEB-INF/xsd/mystage/outputXML_GetMovimentoTirocinio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="CodiceFiscale">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="codice_provincia_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}"/> 
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="codice_catastale_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sesso_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="F|M"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="date_type">
        <xs:restriction base="xs:date">
            <xs:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="datetime_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) \d{2}:\d{2}:\d{2}"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="codice_istat_nazione_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cap_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="email_type">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="si_no_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="S|N"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="anno_type">
        <xs:restriction base="xs:gYear">
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="titolo_studio_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}"/>
            <xs:pattern value="NT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="permesso_carta_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="permesso_carta_motivo_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}|[A-Z]{4}[1-9]|[A-Z]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stato_occupazionale_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{0,3}"/>
            <xs:pattern value="NT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cpi_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="misura_type">
        <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ateco_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mansioni_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]\.[1-9]\.[1-9]\.[1-9]\.\d\.\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipo_contratto_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\.\d{2}\.\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="modalita_lavoro_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="soggetto_promotore_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="categoria_tirocinio_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipologia_tirocinio_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="qualifica_srq_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\S[\S| ]*\S|\S"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_1_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="varchar_2_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_3_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_5_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_8_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_15_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_16_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_20_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_30_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_40_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_60_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_100_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_200_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_300_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar_500_type">
        <xs:restriction base="varchar_type">
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_type">
        <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ComunicazioniObbligatorie">
        <xs:complexType>
             <xs:sequence>
				 <xs:element minOccurs="1" maxOccurs="1" name="codice" type="varchar_2_type"/>
                 <xs:element name="comunicazione_obbligatoria" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                         <xs:sequence>
                             <xs:element name="codice_comunicazione_avviamento" type="varchar_20_type" nillable="true"/>
                             <xs:element name="datore_lavoro_codice_fiscale" type="CodiceFiscale" nillable="true"/>
                             <xs:element name="datore_lavoro_denominazione" type="varchar_100_type" nillable="true"/>
                             <xs:element name="datore_lavoro_indirizzo" type="varchar_200_type" nillable="true"/>
                             <xs:element name="datore_lavoro_settore" type="ateco_type" nillable="true"/>
                             <xs:element name="utilizzatore_codice_fiscale" type="CodiceFiscale" nillable="true"/>
                             <xs:element name="utilizzatore_denominazione" type="varchar_100_type" nillable="true"/>
                             <xs:element name="utilizzatore_indirizzo" type="varchar_200_type" nillable="true"/>
                             <xs:element name="utilizzatore_settore" type="ateco_type" nillable="true"/>
                             <xs:element name="data_inizio" type="date_type" nillable="true"/>
                             <xs:element name="data_fine" type="date_type" nillable="true"/>
                             <xs:element name="data_fine_periodo_formativo" type="date_type" nillable="true"/>
                             <xs:element name="qualifica_professionale" type="mansioni_type" nillable="true"/>
                             <xs:element name="mansioni" type="varchar_300_type" nillable="true"/>
                             <xs:element name="tipo_contratto" type="tipo_contratto_type" nillable="true"/>
                             <xs:element name="flag_stagionale" type="si_no_type" nillable="true"/>
                             <xs:element name="flag_agricoltura" type="si_no_type" nillable="true"/>
                             <xs:element name="modalita_lavoro" type="modalita_lavoro_type" nillable="true"/>
                             <xs:element name="sede_lavoro_indirizzo" type="varchar_200_type" nillable="true"/>
                             <xs:element name="sede_lavoro_codice_catastale" type="codice_catastale_type" nillable="true"/>
                             <xs:element name="tipologia_soggetto_promotore" type="soggetto_promotore_type" nillable="true"/>
                             <xs:element name="tirocinio_categoria" type="categoria_tirocinio_type" nillable="true"/>
                             <xs:element name="tirocinio_tipologia" type="tipologia_tirocinio_type" nillable="true"/>
                             <xs:element name="tutore_codice_fiscale" type="CodiceFiscale" nillable="true"/>
                             <xs:element name="tutore_cognome" type="varchar_40_type" nillable="true"/>
                             <xs:element name="tutore_nome" type="varchar_40_type" nillable="true"/>
                             <xs:element name="qualifica_srq" type="qualifica_srq_type" nillable="true"/>
                             <xs:element name="convenzione_numero" type="varchar_30_type" nillable="true"/>
                             <xs:element name="convenzione_data" type="date_type" nillable="true"/>
                             <xs:element name="data_invio_co" type="date_type" nillable="true"/>
							 <xs:element name="tirocinante_codice_fiscale" type="CodiceFiscale" nillable="true"/>
                         </xs:sequence>
                     </xs:complexType>
                 </xs:element>
             </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
