sil/sil-war/src/main/webapp/wsdl/verificaRequisitiGaranzia/VerificaRequisitiGaranziaOver.wsdl

<wsdl:definitions targetNamespace="http://requisitiAdesione.webservices.coop.sil.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://requisitiAdesione.webservices.coop.sil.eng.it" xmlns:intf="http://requisitiAdesione.webservices.coop.sil.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="http://requisitiAdesione.webservices.coop.sil.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
         <element name="getVerificaRequisitiGaranziaOver">
            <complexType>
               <sequence>
                  <element name="req" type="impl:VerificaRequisitiGaranziaOverRequest"/>
               </sequence>
            </complexType>
         </element>
         <simpleType name="Dichiarazione_Type">
	        <restriction base="xsd:string">
	          <maxLength value="10"/>
	        </restriction>
    	</simpleType>
         <complexType name="VerificaRequisitiGaranziaOverRequest">
            <sequence>
               <element name="codiceFiscale" nillable="true" type="xsd:string"/>
               <element name="dataAdesione" nillable="true" type="xsd:dateTime"/>
               <element name="percettoreAmmortizzatori" nillable="true" type="xsd:string"/>
               <element name="dichiarazione" type="impl:Dichiarazione_Type" minOccurs="0" maxOccurs="1" />
            </sequence>
         </complexType>
         <element name="getVerificaRequisitiGaranziaOverResponse">
            <complexType>
               <sequence>
                  <element name="getVerificaRequisitiGaranziaOverReturn" type="impl:VerificaRequisitiGaranziaOverResponse"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="VerificaRequisitiGaranziaOverResponse">
            <sequence>
               <element name="codice" type="xsd:byte"/>
               <element name="descrizione" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="getVerificaRequisitiGaranziaOverRequest">
      <wsdl:part element="impl:getVerificaRequisitiGaranziaOver" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="getVerificaRequisitiGaranziaOverResponse">
      <wsdl:part element="impl:getVerificaRequisitiGaranziaOverResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="VerificaRequisitiGaranziaOver">
      <wsdl:operation name="getVerificaRequisitiGaranziaOver">
         <wsdl:input message="impl:getVerificaRequisitiGaranziaOverRequest" name="getVerificaRequisitiGaranziaOverRequest"/>
         <wsdl:output message="impl:getVerificaRequisitiGaranziaOverResponse" name="getVerificaRequisitiGaranziaOverResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="VerificaRequisitiGaranziaOverSoapBinding" type="impl:VerificaRequisitiGaranziaOver">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getVerificaRequisitiGaranziaOver">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getVerificaRequisitiGaranziaOverRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getVerificaRequisitiGaranziaOverResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="VerificaRequisitiGaranziaOverService">
      <wsdl:port binding="impl:VerificaRequisitiGaranziaOverSoapBinding" name="VerificaRequisitiGaranziaOver">
         <wsdlsoap:address location="http://192.168.11.63:28080/sil/services/VerificaRequisitiGaranziaOver"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>