sil/sil-war/src/main/webapp/WEB-INF/xsd/PartecipanteGaranziaGiovani/PartecipanteGaranziaGiovani.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://sifer.regione.emilia-romagna.it/WebService/GaranziaGiovani/PartecipanteGaranziaGiovani"
        xmlns:tns="https://sifer.regione.emilia-romagna.it/WebService/GaranziaGiovani/PartecipanteGaranziaGiovani"        
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        version="5.0">

   <xsd:simpleType name="codice_fiscale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Z]{6}[\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{2}[A-Z][\dLMNPQRSTUV]{3}[A-Z])|(\d{11})"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codice_provincia_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codice_catastale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sesso_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="F|M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="date_type">
        <xsd:restriction base="xsd:date">
            <xsd:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datetime_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) \d{2}:\d{2}:\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="codice_istat_nazione_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="cap_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="email_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*)?"/>
            <xsd:maxLength value= "80"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="si_no_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="S|N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="anno_type">
        <xsd:restriction base="xsd:gYear">
            <xsd:pattern value="\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="titolo_studio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{8}"/>
            <xsd:pattern value="NT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="permesso_carta_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9]{1,8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="permesso_carta_motivo_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}|[A-Z]{4}[1-9]|[A-Z]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stato_occupazionale_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\d{0,3}"/>
            <xsd:pattern value="NT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cpi_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="misura_type">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:pattern value="\d{1,3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ateco_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}\.\d{2}\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mansioni_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[1-9]\.[1-9]\.[1-9]\.[1-9]\.\d\.\d{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipo_contratto_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]\.\d{2}\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="modalita_lavoro_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="soggetto_promotore_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="categoria_tirocinio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipologia_tirocinio_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="qualifica_srq_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\S[\S| ]*\S|\S"/>
            <xsd:maxLength value= "512"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_1_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_3_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "3"/>
        </xsd:restriction>
    </xsd:simpleType>
	
	<xsd:simpleType name="varchar_4_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_5_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_8_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "8"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_15_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_16_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_20_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_30_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_40_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "40"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_60_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_100_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_200_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_300_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "300"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="varchar_500_type">
        <xsd:restriction base="tns:varchar_type">
            <xsd:maxLength value= "500"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="int_type">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:totalDigits value="11"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:element name="PartecipanteGaranziaGiovani">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="partecipante">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="codice_fiscale" type="tns:codice_fiscale_type"/>

                            <xsd:element name="accorpamento" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        L'elemento "accorpamento" e' utilizzato sia per l'accorpamento di piu' partecipanti che per il cambio di codice fiscale di un partecipante.
                                        Dovra' essere sempre riportato tutto lo storico degli accorpamenti e delle modifiche di codice fiscale in ordine cronologico discendente (il primo sara' il piu' recente).
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="codice_fiscale_accorpato" type="tns:varchar_16_type"/>
                                        <xsd:element name="data_accorpamento" type="tns:date_type"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="codice_provincia" type="tns:codice_provincia_type"/>
                            <xsd:element name="cognome" type="tns:varchar_40_type"/>
                            <xsd:element name="nome" type="tns:varchar_40_type"/>
                            <xsd:element name="sesso" type="tns:sesso_type"/>
                            <xsd:element name="nascita_data" type="tns:date_type"/>
                            <xsd:element name="nascita_codice_catastale" type="tns:codice_catastale_type"/>
                            <xsd:element name="cittadinanza" type="tns:codice_istat_nazione_type"/>
                            <xsd:element name="cittadinanza_seconda" type="tns:codice_istat_nazione_type" nillable="true"/>
                            <xsd:element name="telefono_cellulare" type="tns:varchar_20_type" nillable="true"/>
                            <xsd:element name="email" type="tns:email_type" nillable="true"/>
                            <xsd:element name="residenza_codice_catastale" type="tns:codice_catastale_type" nillable="true"/>
                            <xsd:element name="residenza_indirizzo" type="tns:varchar_60_type" nillable="true"/>
                            <xsd:element name="residenza_cap" type="tns:cap_type" nillable="true"/>
                            <xsd:element name="residenza_telefono" type="tns:varchar_20_type" nillable="true"/>
                            <xsd:element name="domicilio_codice_catastale" type="tns:codice_catastale_type" nillable="true"/>
                            <xsd:element name="domicilio_indirizzo" type="tns:varchar_60_type" nillable="true"/>
                            <xsd:element name="domicilio_cap" type="tns:cap_type" nillable="true"/>
                            <xsd:element name="domicilio_telefono" type="tns:varchar_20_type" nillable="true"/>
                            <xsd:element name="titolo_studio" type="tns:titolo_studio_type" nillable="true"/>
                            <xsd:element name="titolo_studio_anno_conseguimento" type="tns:anno_type" nillable="true"/>
                            <xsd:element name="permesso_carta" type="tns:permesso_carta_type" nillable="true"/>
                            <xsd:element name="permesso_carta_numero" type="tns:varchar_15_type" nillable="true"/>
                            <xsd:element name="permesso_carta_data_scadenza" type="tns:date_type" nillable="true"/>
                            <xsd:element name="permesso_carta_motivo" type="tns:permesso_carta_motivo_type" nillable="true"/>
							<xsd:element name="flag_cat_protetta" type="tns:si_no_type" nillable="true"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="patti">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="profiling_patto" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="indice_svantaggio" type="tns:int_type" nillable="true"/>
                                        <xsd:element name="indice_svantaggio_vecchio" type="tns:int_type" nillable="true"/>
                                        <xsd:element name="indice_data_riferimento" type="tns:date_type" nillable="true"/>
                                        <xsd:element name="adesione_gg_data" type="tns:date_type"/>
                                        <xsd:element name="patto_gg_data" type="tns:date_type"/>
                                        <xsd:element name="patto_numero_protocollo" type="tns:int_type"/>
                                        <xsd:element name="stato_occupazionale" type="tns:stato_occupazionale_type" nillable="true"/>
                                        <xsd:element name="patto_cpi" type="tns:cpi_type" nillable="true"/>
                                        <xsd:element name="data_chiusura_patto" type="tns:date_type" nillable="true"/>
                                        <xsd:element name="motivo_chiusura_patto" type="tns:varchar_500_type" nillable="true"/>
										<xsd:element name="tipo_misura_patto" type="tns:varchar_8_type"/>
										<xsd:element name="data_scadenza_patto" type="tns:date_type" nillable="true"/>
										<xsd:element name="data_stipula_did" type="tns:date_type" nillable="true"/>
										<xsd:element name="num_mesi_did_adesione" type="tns:int_type" nillable="true"/>

                                        <xsd:element name="PoliticheAttive">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PoliticaAttiva" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="tipoAttivita" type="tns:varchar_4_type"/>
                                                                <xsd:element name="sottoAttivita" type="tns:varchar_8_type" nillable="true"/>
                                                                <xsd:element name="misura" type="tns:misura_type"/>
                                                                <xsd:element name="prgPercorso" type="tns:int_type"/>
                                                                <xsd:element name="prgColloquio" type="tns:int_type" nillable="true"/>
                                                                <xsd:element name="flgGruppo" type="tns:si_no_type" nillable="true"/>
                                                                <xsd:element name="numPartecipanti" type="tns:int_type" nillable="true"/>
                                                                <xsd:element name="dataColloquio" type="tns:date_type" nillable="true"/>
                                                                <xsd:element name="dataStimataFineAttivita" type="tns:date_type" nillable="true"/>
                                                                <xsd:element name="dataAvvioAttivita" type="tns:date_type" nillable="true"/>
                                                                <xsd:element name="dataFineAttivita" type="tns:date_type" nillable="true"/>
                                                                <xsd:element name="durataEffettiva" type="tns:int_type" nillable="true"/>
                                                                <xsd:element name="durataMinima" type="tns:int_type" nillable="true"/>
                                                                <xsd:element name="durataMassima" type="tns:int_type" nillable="true"/>
                                                                <xsd:element name="tipologiaDurata" type="tns:varchar_1_type" nillable="true"/>
                                                                <xsd:element name="esito" type="tns:varchar_8_type" nillable="true"/>
                                                                <xsd:element name="idUtente" type="tns:int_type"/>
                                                                <xsd:element name="nomeUtente" type="tns:varchar_40_type" nillable="true"/>
                                                                <xsd:element name="cognomeUtente" type="tns:varchar_40_type" nillable="true"/>
                                                                <xsd:element name="cpiUtente" type="tns:cpi_type" nillable="true"/>
                                                                <xsd:element name="codiceFiscaleUtente" type="tns:codice_fiscale_type" nillable="true"/>
                                                                <xsd:element name="ufficioUtente" type="tns:varchar_500_type" nillable="true"/>
                                                                <xsd:element name="codiceEnteTitolare" type="tns:varchar_20_type" nillable="true"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>

                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="comunicazioni_obbligatorie">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="comunicazione_obbligatoria" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="prgMovimentoSil" type="tns:int_type"/>
                                        <xsd:element name="prgMovimentoSilOriginario" type="tns:int_type"/>
                                        <xsd:element name="codice_comunicazione_avviamento" type="tns:varchar_20_type" nillable="true"/>
                                        <xsd:element name="datore_lavoro_codice_fiscale" type="tns:codice_fiscale_type" nillable="true"/>
                                        <xsd:element name="datore_lavoro_denominazione" type="tns:varchar_100_type" nillable="true"/>
                                        <xsd:element name="datore_lavoro_indirizzo" type="tns:varchar_200_type" nillable="true"/>
                                        <xsd:element name="datore_lavoro_settore" type="tns:ateco_type" nillable="true"/>
                                        <xsd:element name="utilizzatore_codice_fiscale" type="tns:codice_fiscale_type" nillable="true"/>
                                        <xsd:element name="utilizzatore_denominazione" type="tns:varchar_100_type" nillable="true"/>
                                        <xsd:element name="utilizzatore_indirizzo" type="tns:varchar_200_type" nillable="true"/>
                                        <xsd:element name="utilizzatore_settore" type="tns:ateco_type" nillable="true"/>
                                        <xsd:element name="data_inizio" type="tns:date_type" nillable="true"/>
                                        <xsd:element name="data_fine" type="tns:date_type" nillable="true"/>
                                        <xsd:element name="data_fine_periodo_formativo" type="tns:date_type" nillable="true"/>
                                        <xsd:element name="qualifica_professionale" type="tns:mansioni_type" nillable="true"/>
                                        <xsd:element name="mansioni" type="tns:varchar_300_type" nillable="true"/>
                                        <xsd:element name="tipo_contratto" type="tns:tipo_contratto_type" nillable="true"/>
                                        <xsd:element name="flag_stagionale" type="tns:si_no_type" nillable="true"/>
                                        <xsd:element name="flag_agricoltura" type="tns:si_no_type" nillable="true"/>
                                        <xsd:element name="modalita_lavoro" type="tns:modalita_lavoro_type" nillable="true"/>
                                        <xsd:element name="sede_lavoro_indirizzo" type="tns:varchar_200_type" nillable="true"/>
                                        <xsd:element name="sede_lavoro_codice_catastale" type="tns:codice_catastale_type" nillable="true"/>
                                        <xsd:element name="tipologia_soggetto_promotore" type="tns:soggetto_promotore_type" nillable="true"/>
                                        <xsd:element name="tirocinio_categoria" type="tns:categoria_tirocinio_type" nillable="true"/>
                                        <xsd:element name="tirocinio_tipologia" type="tns:tipologia_tirocinio_type" nillable="true"/>
                                        <xsd:element name="tutore_codice_fiscale" type="tns:codice_fiscale_type" nillable="true"/>
                                        <xsd:element name="tutore_cognome" type="tns:varchar_40_type" nillable="true"/>
                                        <xsd:element name="tutore_nome" type="tns:varchar_40_type" nillable="true"/>
                                        <xsd:element name="qualifica_srq" type="tns:qualifica_srq_type" nillable="true"/>
                                        <xsd:element name="qualifica_srq_originale" type="tns:qualifica_srq_type" nillable="true"/>
                                        <xsd:element name="convenzione_numero" type="tns:varchar_30_type" nillable="true"/>
                                        <xsd:element name="convenzione_data" type="tns:datetime_type" nillable="true"/>
                                        <xsd:element name="data_invio_co" type="tns:datetime_type" nillable="true"/>
                                        <xsd:element name="data_invio_co_originale" type="tns:datetime_type" nillable="true"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

