sil/sil-war/src/main/webapp/WEB-INF/xsd/blen/inputXML_ControlloLavoratore.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StatoOccupazionale">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodiceFiscale" minOccurs="1" maxOccurs="1" />
        <xs:element ref="Nome" minOccurs="1" maxOccurs="1" />
        <xs:element ref="Cognome" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Stringa200">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Nome" type="Stringa200" />
  <xs:element name="Cognome" type="Stringa200" />    
  <xs:simpleType name="CodiceFiscale">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CodiceFiscale" type="CodiceFiscale" />
	
</xs:schema>