sil/sil-war/src/main/webapp/WEB-INF/xsd/sanatoria/sanamov_in.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SanatoriaReddito">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CodiceFiscale" />
        <xs:element ref="IdProvincia" />
        <xs:element name="SetMovimenti">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Mov">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" ref="prgMovimento" />
                    <xs:element minOccurs="1" maxOccurs="1" ref="RedditoMensileSanato" />
                    <xs:element minOccurs="1" maxOccurs="1" ref="numklomov" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CodiceFiscale" type="CodiceFiscale" />
  <xs:element name="IdProvincia" type="xs:integer" />
  <xs:element name="prgMovimento" type="xs:unsignedLong" />
  <xs:element name="RedditoMensileSanato">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:pattern value="[1-9][0-9]*[.][0-9]*" />
        <xs:totalDigits value="7" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numklomov" type="xs:long" />
</xs:schema>