sil/sil-war/src/main/webapp/WEB-INF/xsd/bonusoccupazionale/bonus_occupazionale.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatiBonusOccupazionale">
<xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="CodiceFiscale" type="CodiceFiscale_Type" />
        <xs:element minOccurs="1" name="DataAdesione" type="xs:date" />
        <xs:element minOccurs="1" name="Regione" type="Regione" />
		<xs:element minOccurs="0" name="identificativosap" type="IdentificativoSap"/>
		<xs:element minOccurs="0" name="codprovincia" type="Stringa3Obbl"/>
		<xs:element minOccurs="0" maxOccurs="unbounded" ref="politiche_attive"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CodiceFiscale_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Regione">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdentificativoSap">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}[0-9]{8}[A-Z]{1}"/>
     </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa1">
	<xs:restriction base="xs:string">
		<xs:maxLength value="1"/>
	</xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa3Obbl">
	<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		<xs:maxLength value="3"/>
	</xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100">
	<xs:restriction base="xs:string">
		<xs:maxLength value="100"/>
	</xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa250Obbl">
	<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		<xs:maxLength value="250"/>
	</xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa11Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa2Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipo_attivita">
    <xs:restriction base="xs:string" >
      <xs:length fixed="true" value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="titolo_denominazione">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data_proposta">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}"></xs:pattern>
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}"></xs:pattern>
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data_fine">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="durata">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"></xs:totalDigits>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipologia_durata">
    <xs:restriction base="xs:string">
      <xs:length value="1"></xs:length>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="descrizione">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="250"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="titolo_progetto">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codice_ente_promotore">
    <xs:restriction base="xs:string">
      <xs:minLength value="11"/>
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tipo_attivita" type="Stringa3Obbl"/>
  <xs:element name="titolo_denominazione" type="Stringa100" />
  <xs:element name="data_proposta" type="xs:date"/>
  <xs:element name="data" type="xs:date"/>
  <xs:element name="data_fine" type="xs:date"/>
  <xs:element name="durata" type="xs:int"/>
  <xs:element name="tipologia_durata" type="Stringa1"/>
  <xs:element name="descrizione" type="Stringa250Obbl"/>
  <xs:element name="titolo_progetto" type="Stringa2Obbl"/>
  <xs:element name="codice_ente_promotore" type="Stringa11Obbl"/>
  <xs:element name="politiche_attive">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tipo_attivita" minOccurs="1"/>
        <xs:element ref="titolo_denominazione" minOccurs="0"/>
        <xs:element ref="data_proposta" minOccurs="1"/>
        <xs:element ref="data" minOccurs="0"/>
        <xs:element ref="data_fine" minOccurs="0"/>
        <xs:element ref="durata" minOccurs="0"/>
        <xs:element ref="tipologia_durata" minOccurs="0"/>
        <xs:element ref="descrizione" minOccurs="1"/>
        <xs:element ref="titolo_progetto" minOccurs="1"/>
        <xs:element ref="codice_ente_promotore" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>