sil/sil-war/src/main/webapp/WEB-INF/xsd/agenda/appuntamento/disponibilita/OutputDispAppuntamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Risposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Esito">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="codice">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="descrizione">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="250" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ElencoDisponibilita">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dataRif" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="unbounded" name="datiAppuntamento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="identificativoSlot" type="xs:integer" />
                    <xs:element name="dataAppuntamento" type="xs:date" />
                    <xs:element name="oraAppuntamento">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="5" />
                          <xs:pattern value="[0-9]{2}:[0-9]{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="IdCPI">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="9" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="denominazioneCPI">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indirizzoCPI">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indirizzoCPIstampa">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="600" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="siglaOperatore" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="numMinuti" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>